BeautifulSoup==3.2.1
Django==1.5.5
Fabric==1.8.0
PIL==1.1.7
Pillow==2.4.0
PyYAML==3.11
South==0.8.2
Unipath==1.0
cssselect==0.9.1
dj-database-url==0.2.2
django-allauth==0.14.1
djangorestframework==2.3.8
ecdsa==0.10
geopy==0.99
goose-extractor==1.0.19
jieba==0.32
lxml==3.2.4
nltk==2.0.4
oauthlib==0.6.0
paramiko==1.12.0
psycopg2==2.5.1
pycrypto==2.6.1
python-google-places==0.10.1
python-openid==2.2.5
requests==2.0.1
requests-oauthlib==0.4.0
