BeautifulSoup==3.2.1
Django==1.7.1
Fabric==1.10.0
Pillow==2.6.1
PyYAML==3.11
South==1.0.1
Unipath==1.0
beautifulsoup4==4.3.2
cssselect==0.9.1
dj-database-url==0.3.0
django-allauth==0.18.0
djangorestframework==2.4.4
geopy==1.4.0
goose-extractor==1.0.22
gunicorn==19.1.1
jieba==0.35
lxml==3.4.1
nltk==3.0.0
oauthlib==0.7.2
paramiko==1.15.1
psycopg2==2.5.4
pycrypto==2.6.1
python-google-places==0.12.1
python-openid==2.2.5
requests==2.4.3
requests-oauthlib==0.4.2
uservoice==0.0.20
langid
