{% load i18n %}
<div class="collection-header">
    <a href="#" class="collection-name" ng-class="{ 'collection-name' : 1, 'active' : collectionsListVisible }" ng-click="showCollections($event)">
        <i class="icon-expand-collapse"></i>
        <span ng-bind="activeCollectionName"></span>
    </a>
    <span class="description"><span ng-bind="activeCollectionPointLength"></span> {% trans "mapSaveNumber" %}</span>
    <!-- <a href="#" class="list-view pull-right" ng-class="{ 'active' : listMode }" ng-click="gotoListView($event)">List</a>
    <a href="#" class="map-view pull-right" ng-class="{ 'active' : !listMode }" ng-click="gotoMapView($event)">Map</a> -->
    <a href="#" class="list-view pull-right" ng-show="!listMode && activeCollectionPointLength != 0" ng-click="gotoListView($event)">{% trans "mapShowListBtn" %}</a>
    <a href="#" class="list-view pull-right active" ng-show="listMode && activeCollectionPointLength != 0" ng-click="closeListView($event)">{% trans "mapHideListBtn" %}</a>
    <div class="clearfix"></div>
</div>

<ul class="nav nav-stacked" height-to-bottom m-custom-scrollbar="{scrollInertia: 0}">
    <!-- show collections[0] uncategorized collection -->
    <li ng-class="{active: collections[0].id == activeCollectionId}">
        <a href="#" class="collection" ng-click="clickCollection($event, collections[0].id, collections[0].name)">
            <span ng-bind="collections[0].name"></span> (<span ng-bind="collections[0].points.length || 0"></span>)
        </a>
        <li class="divider"></li>
    </li>
    <!-- show others collection -->
    <li ng-repeat="coll in collections" ng-class="{active: coll.id == activeCollectionId}" ng-show="$index != 0">
        <a href="#" ng-class="{collection: true, edit: editMode}" ng-click="clickCollection($event, coll.id, coll.name)">
            <span ng-hide="editMode">
              <span ng-bind="coll.name"></span> (<span ng-bind="coll.points.length || 0"></span>)
            </span>
        </a>
        <input ng-show="editMode" type="text" ng-model="editCollection[$index].name" style="margin: 6px;width: 200px;"/>
    </li>
</ul>
<!-- Edit Button -->
<a href="#" class="btn-default pingismo-btn" ng-click="toggleEditMode($event)" id="edit-list-btn" ng-bind="editMode && '{% trans "mapAdded" %}' || '{% trans "mapEditBtn" %}'"></a>

<!-- Create Collection Button -->
<a href="#" class="btn-default pingismo-btn collection-list-btn-create" ng-click="createCollectionModal($event)">+</a>

<!-- Delete collection Modal Box-->
<!-- <div class="delete-collection-wrapper" ng-class="{visible: showDeleteCollectionDialog}">
    <h4>Delete "<i>[[deleteCollectionName]]</i>" permanently?</h4>
    Do you really want to delete this collection? Once you delete it, all places saved under this collection will be removed from your map forever.
    <div class="pin-content-footer">
        <hr />
        <a href="#" class="btn-risk pingismo-btn" ng-click="deleteCollection($event)">Yes, Delete It.</a>
        <a href="#" class="btn-default pingismo-btn" ng-click="unselectCollectionForDelete($event)">Cancel</a>
    </div>
</div> -->

<div class="modal fade hide" id="deleteCollectionModal" style="width: 420px; top: 100px;" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="padding:0;border-bottom: 0;">
        <h4 class="modal-title" style="margin: 24px 30px;">{% trans "mapDelCollectionTitle1" %} "[[deleteCollectionName]]" {% trans "mapDelCollectionTitle2" %}?</h4>
      </div>
      <div class="modal-body" style="padding: 0;/* margin: 0 30px; */">
        <p style="margin: 0 30px;">{% trans "mapDelCollectionDescription" %}</p>
      </div>
      <div class="modal-footer" style="text-align: center;background-color: white;margin: 24px 30px;padding: 24px 0 0 0;">
        <button type="button" ng-click="deleteCollection($event)" style="background-color: rgb(231, 1, 1);color: #fff;border: 0;padding: 5px 20px;">{% trans "mapConfirmDelBtn" %}</button>
        <button type="button" data-dismiss="modal" style="border: 0;color: #fff;background-color: #655A5A;padding: 5px 20px;margin-left: 8px;">{% trans "mapCancelBtn" %}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!-- Create Collection Modal Box , special hack style for this -->
<div class="modal fade hide" id="createCollectionModal" style="width: 420px;top: 100px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="padding:0;border-bottom: 0;">
        <h4 class="modal-title" style="margin: 24px 30px;">{% trans "mapAddCollectionTitle" %}</h4>
      </div>
      <div class="modal-body" style="padding:0">
        <input class="input-xlarge" type="text" placeholder="New Collection Name" style="width:345px;margin: 0px 30px;" ng-model="newCollectionName"/>
      </div>
      <div class="modal-footer" style="text-align: center;background-color: white;margin: 24px 30px;padding: 24px 0 0 0;">
        <button type="button" ng-click="createCollection($event)" style="background-color: rgb(1, 169, 231);color: #fff;border: 0;padding: 5px 20px;">{% trans "mapAddCollectionBtn" %}</button>
        <button type="button" data-dismiss="modal" style="border: 0;color: #fff;background-color: #655A5A;padding: 5px 20px;margin-left: 8px;">{% trans "mapCancelBtn" %}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
