                <div class="collection-header">
                    <a href="#" class="collestion-name" ng-click="showCollections()">
                        <i class="icon-expand-collapse"></i>
                        {{activeCollectionName}}
                    </a>
                    <span>{{activeCollectionPointLength}} places saved</span>
                    <a href="#" class="list-view pull-right">List</a>
                    <a href="#" class="map-view pull-right active">Map</a>
                    <div class="clearfix"></div>
                </div>
                <ul class="nav nav-stacked">
                    <li ng-repeat="coll in collections" ng-class="{active: coll.id == activeCollectionId}"><a href="#" ng-class="{collection: true, edit: editMode}" ng-click="clickCollection(coll.id)">{{coll.name}} ({{coll.num_of_points || 0}})</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="button" ng-click="toggleEditMode()" id="edit-list-btn">{{ editMode && 'Done' || 'Edit'}}</a></li>
                </ul>