{% load i18n %}
                <a href="#/" class="logo"></a>
                <div class="navbar pingismo-navbar" id="account-menu" ng-show="isLoggedIn">
                    <ul class="nav">
                        <li class="ver-divider"><span></span></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span ng-bind="user.email_address"></span>
                                <b class="caret"></b>                        </a>
                            <ul class="dropdown-menu pingismo-dropdown-menu">
                              <li><a href="#/"><i class="icon-globe"></i>{% trans "userPanelViewMap" %}</a></li>
                              <li><a href="#/settings"><i class="icon-wrench"></i> {% "trans userPanelSettings" %}</a></li>
                              <li class="divider"></li>
                              <li><a href="logout.html"><i class="icon-off"></i>{% "trans userPanelLogout" %}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar pingismo-navbar pull-right" ng-show="!isLoggedIn">
                    <ul class="nav">
                        <li class="signup-button"><button href="signup.html" class="btn btn-large btn-primary pingismo-btn" type="button">{% trans "userPanelSignup" %}</button></li>
                        <li class="ver-divider"><span></span></li>
                        <li><a href="signin.html">{% trans "userPanelLogin" %}</a></li>
                    </ul>
                </div>
