@charset "utf-8";
/* CSS Document */

/* Base -------------------------------------------------------------------------------------- */
h1{
	font-size: 88px;
}
hr{
	border-top: 1px solid #ccc;
	border-bottom: none;
	margin: 50px 0 36px;
}

/* Layout ------------------------------------------------------------------------------------ */
section.main{
	/*background: url(../img/white_wall.png) 0 0;*/
	background: #ebebeb;
}
section.main .container{
	margin-top: 60px;
	text-align: center;
	color: #707070;
}
section.main form{
	width: 360px;
	margin: 0 auto 2.0em;
	text-align:left;
}
section.main form .action-button{
	text-align: center;
	margin: 36px 0 0;
}
.action-button .button-option{
	margin: 10px 0;
}
.btn-grey {
    background-color: grey;
    color: white;
    padding: 8px 25px;
    line-height: normal;
}
.dark-overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.extension-modal {
    background-color: white;
    border-radius: 10px;
    width: 480px;
    padding: 25px 60px 20px 60px;
    margin: auto;
}
.extension-modal h1 {
    font-family: "Cinzel";
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.extension-modal > div {
    text-align: center;
}
.extension-modal > div > a {
    width: 70%;
    text-transform: uppercase;
    margin-top: 18px;
}
.extension-tooltip {
    color: white;
    font-size: 15px;
    width: 400px;
    margin-top: 250px;
}
.extension-tooltip .arrow {
    text-align: center;
}
.extension-tooltip h1 {
    color: white;
    font-size: 20px;
}

/* Module ------------------------------------------------------------------------------------ */
.title{
	font-size: 32px;
	margin-bottom: 36px;
}
.title span{
	display: block;
	margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"]{
	border-radius: 0;
	background-color: #FFF;
	width: 360px;
	height: 32px;
	font-size: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
form .error-message {

}
form .help-inline{
	padding: 0;
}
form p.saved{
	display: none;
}

/* Angular ------------------------------------------------------------------------------------ */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
