@charset "utf-8";
/* CSS Document */
/* Animation --------------------------------------------------------------------------------- */
@keyframes pingismo-pin-scenicspot-anim{
	0%{background-image:  url(../img/pin-scenicspot-anim-1.png);}
	10%{background-image: url(../img/pin-scenicspot-anim-2.png);}
	20%{background-image: url(../img/pin-scenicspot-anim-3.png);}
	30%{background-image: url(../img/pin-scenicspot-anim-4.png);}
	40%{background-image: url(../img/pin-scenicspot-anim-5.png);}
	50%{background-image: url(../img/pin-scenicspot-anim-6.png);}
	60%{background-image: url(../img/pin-scenicspot-anim-7.png);}
	70%{background-image: url(../img/pin-scenicspot-anim-8.png);}
	80%{background-image: url(../img/pin-scenicspot-anim-9.png);}
	90%{background-image: url(../img/pin-scenicspot-anim-10.png);}
	100%{background-image: url(../img/pin-scenicspot.png);}
}
@-webkit-keyframes pingismo-pin-scenicspot-anim{ /* Safari and Chrome */
	0%{background-image:  url(../img/pin-scenicspot-anim-1.png);}
	10%{background-image: url(../img/pin-scenicspot-anim-2.png);}
	20%{background-image: url(../img/pin-scenicspot-anim-3.png);}
	30%{background-image: url(../img/pin-scenicspot-anim-4.png);}
	40%{background-image: url(../img/pin-scenicspot-anim-5.png);}
	50%{background-image: url(../img/pin-scenicspot-anim-6.png);}
	60%{background-image: url(../img/pin-scenicspot-anim-7.png);}
	70%{background-image: url(../img/pin-scenicspot-anim-8.png);}
	80%{background-image: url(../img/pin-scenicspot-anim-9.png);}
	90%{background-image: url(../img/pin-scenicspot-anim-10.png);}
	100%{background-image: url(../img/pin-scenicspot.png);}
}
@keyframes pingismo-pin-bar-anim{
	0%{background-image:  url(../img/pin-bar-anim-1.png);}
	10%{background-image: url(../img/pin-bar-anim-2.png);}
	20%{background-image: url(../img/pin-bar-anim-3.png);}
	30%{background-image: url(../img/pin-bar-anim-4.png);}
	40%{background-image: url(../img/pin-bar-anim-5.png);}
	50%{background-image: url(../img/pin-bar-anim-6.png);}
	60%{background-image: url(../img/pin-bar-anim-7.png);}
	70%{background-image: url(../img/pin-bar-anim-8.png);}
	80%{background-image: url(../img/pin-bar-anim-9.png);}
	90%{background-image: url(../img/pin-bar-anim-10.png);}
	100%{background-image: url(../img/pin-bar.png);}
}
@-webkit-keyframes pingismo-pin-bar-anim{ /* Safari and Chrome */
	0%{background-image:  url(../img/pin-bar-anim-1.png);}
	10%{background-image: url(../img/pin-bar-anim-2.png);}
	20%{background-image: url(../img/pin-bar-anim-3.png);}
	30%{background-image: url(../img/pin-bar-anim-4.png);}
	40%{background-image: url(../img/pin-bar-anim-5.png);}
	50%{background-image: url(../img/pin-bar-anim-6.png);}
	60%{background-image: url(../img/pin-bar-anim-7.png);}
	70%{background-image: url(../img/pin-bar-anim-8.png);}
	80%{background-image: url(../img/pin-bar-anim-9.png);}
	90%{background-image: url(../img/pin-bar-anim-10.png);}
	100%{background-image: url(../img/pin-bar.png);}
}
@keyframes pingismo-pin-hotel-anim{
	0%{background-image:  url(../img/pin-hotel-anim-1.png);}
	10%{background-image: url(../img/pin-hotel-anim-2.png);}
	20%{background-image: url(../img/pin-hotel-anim-3.png);}
	30%{background-image: url(../img/pin-hotel-anim-4.png);}
	40%{background-image: url(../img/pin-hotel-anim-5.png);}
	50%{background-image: url(../img/pin-hotel-anim-6.png);}
	60%{background-image: url(../img/pin-hotel-anim-7.png);}
	70%{background-image: url(../img/pin-hotel-anim-8.png);}
	80%{background-image: url(../img/pin-hotel-anim-9.png);}
	90%{background-image: url(../img/pin-hotel-anim-10.png);}
	100%{background-image: url(../img/pin-hotel.png);}
}
@-webkit-keyframes pingismo-pin-hotel-anim{ /* Safari and Chrome */
	0%{background-image:  url(../img/pin-hotel-anim-1.png);}
	10%{background-image: url(../img/pin-hotel-anim-2.png);}
	20%{background-image: url(../img/pin-hotel-anim-3.png);}
	30%{background-image: url(../img/pin-hotel-anim-4.png);}
	40%{background-image: url(../img/pin-hotel-anim-5.png);}
	50%{background-image: url(../img/pin-hotel-anim-6.png);}
	60%{background-image: url(../img/pin-hotel-anim-7.png);}
	70%{background-image: url(../img/pin-hotel-anim-8.png);}
	80%{background-image: url(../img/pin-hotel-anim-9.png);}
	90%{background-image: url(../img/pin-hotel-anim-10.png);}
	100%{background-image: url(../img/pin-hotel.png);}
}
@keyframes pingismo-pin-mall-anim{
	0%{background-image: url(../img/pin-mall-anim-1.png);}
	10%{background-image: url(../img/pin-mall-anim-2.png);}
	20%{background-image: url(../img/pin-mall-anim-3.png);}
	30%{background-image: url(../img/pin-mall-anim-4.png);}
	40%{background-image: url(../img/pin-mall-anim-5.png);}
	50%{background-image: url(../img/pin-mall-anim-6.png);}
	60%{background-image: url(../img/pin-mall-anim-7.png);}
	70%{background-image: url(../img/pin-mall-anim-8.png);}
	80%{background-image: url(../img/pin-mall-anim-9.png);}
	90%{background-image: url(../img/pin-mall-anim-10.png);}
	100%{background-image: url(../img/pin-mall.png);}
}
@-webkit-keyframes pingismo-pin-mall-anim{ /* Safari and Chrome */
	0%{background-image: url(../img/pin-mall-anim-1.png);}
	10%{background-image: url(../img/pin-mall-anim-2.png);}
	20%{background-image: url(../img/pin-mall-anim-3.png);}
	30%{background-image: url(../img/pin-mall-anim-4.png);}
	40%{background-image: url(../img/pin-mall-anim-5.png);}
	50%{background-image: url(../img/pin-mall-anim-6.png);}
	60%{background-image: url(../img/pin-mall-anim-7.png);}
	70%{background-image: url(../img/pin-mall-anim-8.png);}
	80%{background-image: url(../img/pin-mall-anim-9.png);}
	90%{background-image: url(../img/pin-mall-anim-10.png);}
	100%{background-image: url(../img/pin-mall.png);}
}
@keyframes pingismo-pin-misc-anim{
	0%{background-image: url(../img/pin-misc-anim-1.png);}
	10%{background-image: url(../img/pin-misc-anim-2.png);}
	20%{background-image: url(../img/pin-misc-anim-3.png);}
	30%{background-image: url(../img/pin-misc-anim-4.png);}
	40%{background-image: url(../img/pin-misc-anim-5.png);}
	50%{background-image: url(../img/pin-misc-anim-6.png);}
	60%{background-image: url(../img/pin-misc-anim-7.png);}
	70%{background-image: url(../img/pin-misc-anim-8.png);}
	80%{background-image: url(../img/pin-misc-anim-9.png);}
	90%{background-image: url(../img/pin-misc-anim-10.png);}
	100%{background-image: url(../img/pin-misc.png);}
}
@-webkit-keyframes pingismo-pin-misc-anim{ /* Safari and Chrome */
	0%{background-image: url(../img/pin-misc-anim-1.png);}
	10%{background-image: url(../img/pin-misc-anim-2.png);}
	20%{background-image: url(../img/pin-misc-anim-3.png);}
	30%{background-image: url(../img/pin-misc-anim-4.png);}
	40%{background-image: url(../img/pin-misc-anim-5.png);}
	50%{background-image: url(../img/pin-misc-anim-6.png);}
	60%{background-image: url(../img/pin-misc-anim-7.png);}
	70%{background-image: url(../img/pin-misc-anim-8.png);}
	80%{background-image: url(../img/pin-misc-anim-9.png);}
	90%{background-image: url(../img/pin-misc-anim-10.png);}
	100%{background-image: url(../img/pin-misc.png);}
}
@keyframes pingismo-pin-restaurant-anim{
	0%{background-image: url(../img/pin-restaurant-anim-1.png);}
	10%{background-image: url(../img/pin-restaurant-anim-2.png);}
	20%{background-image: url(../img/pin-restaurant-anim-3.png);}
	30%{background-image: url(../img/pin-restaurant-anim-4.png);}
	40%{background-image: url(../img/pin-restaurant-anim-5.png);}
	50%{background-image: url(../img/pin-restaurant-anim-6.png);}
	60%{background-image: url(../img/pin-restaurant-anim-7.png);}
	70%{background-image: url(../img/pin-restaurant-anim-8.png);}
	80%{background-image: url(../img/pin-restaurant-anim-9.png);}
	90%{background-image: url(../img/pin-restaurant-anim-10.png);}
	100%{background-image: url(../img/pin-restaurant.png);}
}
@-webkit-keyframes pingismo-pin-restaurant-anim{ /* Safari and Chrome */
	0%{background-image: url(../img/pin-restaurant-anim-1.png);}
	10%{background-image: url(../img/pin-restaurant-anim-2.png);}
	20%{background-image: url(../img/pin-restaurant-anim-3.png);}
	30%{background-image: url(../img/pin-restaurant-anim-4.png);}
	40%{background-image: url(../img/pin-restaurant-anim-5.png);}
	50%{background-image: url(../img/pin-restaurant-anim-6.png);}
	60%{background-image: url(../img/pin-restaurant-anim-7.png);}
	70%{background-image: url(../img/pin-restaurant-anim-8.png);}
	80%{background-image: url(../img/pin-restaurant-anim-9.png);}
	90%{background-image: url(../img/pin-restaurant-anim-10.png);}
	100%{background-image: url(../img/pin-restaurant.png);}
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}


@keyframes pingismo-pinpopup-anim{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@-webkit-keyframes pingismo-pinpopup-anim{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

/* Layout ------------------------------------------------------------------------------------ */
section.map-section{
	background-color: #2c2c2c;
}
/* Module ------------------------------------------------------------------------------------ */
/* Map */
#map {
	height: 100%;
	position: absolute;
	top: 45px;
	width: 100%;
	box-shadow: -8px 0 15px rgba(0,0,0,0.6), 8px 0 15px rgba(0,0,0,0.6);
	background:
		url(../img/loading-animation.gif) center 35px no-repeat,
		url(../img/white_wall.jpg) 0 0;
}

#map img {
    max-width: none !important;
}

#map {
	-moz-transition: left 0.3s ease, top 0.3s ease 0.3s, width 0.3s ease, height 0.3s ease 0.3s;
	-webkit-transition: left 0.3s ease, top 0.3s ease 0.3s, width 0.3s ease, height 0.3s ease 0.3s;
	transition: left 0.3s ease, top 0.3s ease 0.3s, width 0.3s ease, height 0.3s ease 0.3s;
}

#map.retracted {
	height: -moz-calc(100% - 75px);
	height: -webkit-calc(100% - 75px);
	height: calc(100% - 75px);
	left: 755px;
	width: -moz-calc(100% - 755px);
	width: -webkit-calc(100% - 755px);
	width: calc(100% - 755px);
}

#map.semi-retracted {
	height: -moz-calc(100% - 125px);
	height: -webkit-calc(100% - 125px);
	height: calc(100% - 125px);
	left: 380px;
	width: -moz-calc(100% - 380px);
	width: -webkit-calc(100% - 380px);
	width: calc(100% - 380px);
	top: 95px;
}
#map.full-tall {
	height: -moz-calc(100% - 45px);
	height: -webkit-calc(100% - 45px);
	height: calc(100% - 45px);
	left: 0;
	width: 100%;
	top: 45px;
}

#map.full {
	height: -moz-calc(100% - 125px);
	height: -webkit-calc(100% - 125px);
	height: calc(100% - 125px);
	left: 0;
	width: 100%;
	top: 95px;
}

#map.half {
	height: -moz-calc(100% - 125px);
	height: -webkit-calc(100% - 125px);
	height: calc(100% - 125px);
	left: 0;
	top: 95px;
	width: -moz-calc(100% - 440px);
	width: -webkit-calc(100% - 440px);
	width: calc(100% - 440px);
}

/* Save Panel */
.save-panel{
	padding: 60px 0 0;
	width: 420px;
	position: relative;
}
.save-panel .form-search{
	margin: 0 20px;
}
.save-panel input.search-query{
	background-color: #181818;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: none;
	width: 315px;
	color: #fff;

	-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.75);
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.75);
}
.save-panel .form-search i.icon-search{
	width: 35px;
	background-color: #181818;
	padding: 7px 0;
	margin-top: -5px;
	background-position: -36px 6px;

	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.75);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.75);
}
.save-panel .form-search .help-block{
	color: #707070;
	font-size: 12px;
	margin: 3px 0 0 12px;
	display: none;
}

/* Searching animation */
.loading-wrapper{
	width: 180px;
	height: 180px;
	margin: 0 auto;
	position: relative;
	color: #fff;
	font-size: 15px;
}
.loading-wrapper > p{
	position: absolute;
	top: 50%;
	height: 20px;
	width: 180px;
	margin: -40px 0 0;
	background: url(../img/searching-pin.png) center 25px no-repeat;
	text-align: center;
	padding-top: 68px;
}

.loading-wrapper img {
	-webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
	-webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

.loading-images {
	background: url(../img/loading-circle.png) center 0 no-repeat;
}

/* No search keyword */
.no-keyword{

}
/* Searching location result list */
.location-list{
	margin: 5px 0 0 15px;
	padding: 0;
	list-style: none;
	width: 405px;
}
.location-list .item {
	margin: 0;
	padding: 6px 29px 0 30px;
	position: relative;
}

.location-list .icon-pin {
	background: url(../img/icon-pin.png) 0 -20px no-repeat;
	display: block;
	height: 20px;
	left: 5px;
	position: absolute;
	top: 14px;
	width: 18px;
}

.location-list .address-only .icon-pin {
	top: 20px;
}

.location-list .active .icon-pin,
.location-list .item:hover .icon-pin {
	background-position: 0 0;
}

.location-list .item:hover {
	cursor: pointer;
}

.location-list .active,
.location-list .item:hover{
	background: #01a9e7;
}
.location-list p{
	width: 298px;
	float: left;
}

.location-list .place-name {
	font-size: 15px;
	color: #707070;
	font-weight: bolder;
}

.location-list .item-title {
	font-size: 13px;
	color: #fff;
	font-weight: bolder;
}

.location-list .place-address,
.location-list .item-text {
	font-size: 12px;
	font-weight: normal;
	display: block;
	color: #707070
}

.location-list .address-only .place-address {
	font-size: 14px;
	line-height: 50px
}

.location-list .active  .place-name,
.location-list .item:hover  .place-name,
.location-list .active  .place-address,
.location-list .item:hover  .place-address{
	color: #fff;
}
.location-list a{
	display: block;
	padding: 8px 12px;
	float: right;
	background: #1480a8;
	display: none;
	margin: 5px 0 0;
	font-size: 12px;
	color: #fff;
	font-weight: normal;
}
a.save-this-place i.icon-save{
	background: url(../img/icon-save.png) 0 0 no-repeat;
	margin-right: 2px;
}
a.show-on-map i.icon-show{
	background: url(../img/icon-show.png) 0 0 no-repeat;
	margin-right: 2px;
	height: 18px;
	vertical-align: text-bottom;
}
.location-list a:hover{
	text-decoration: none;
	background-color: #33ccff;
}

.location-list .active .show-on-map,
.location-list .item:hover .show-on-map{
	display: block;
}

.location-list .text-only-item .item-title {
	display: block;
	margin-bottom: 11px;
}

.location-list .text-only-item p {
	width: 400px;
	margin: 0;
	padding: 6px 29px 0 5px;
}

.location-list .last-item {
	border-bottom: solid 1px #444;
	box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,1);
	padding-bottom: 20px;
	margin-bottom: 20px;
}


/* Back & proceed button */
.pingismo-back,
.pingismo-proceed{
	background: #01a9e7;
	display: block;
	position: absolute;
	top: 15px;
	left: 0px;
	height: 27px;
}
.pingismo-proceed{
	width: 20px;
	top: 105px;
	padding: 3px 0 0 15px;
}
.pingismo-back{
	width: 25px;
	padding: 3px 0 0 5px;
}
.pingismo-back > img,
.pingismo-proceed > img{
	border: 0;
}

/* Save Content including rotating background */
@-webkit-keyframes infinite_rotate {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}
@-moz-keyframes infinite_rotate {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(359deg); }
}
@keyframes infinite_rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}


/* Save Panel */
.save-content{
	background-color: #fff;
	position: absolute;
	padding: 15px 10px 0 40px;
	height: -moz-calc(100% - 123px);
	height: -webkit-calc(100% - 123px);
	height: calc(100% - 123px);
	top: 94px;
	left: 0;
	width: 705px;
	overflow: hidden;
	-moz-transition: left 0.3s;
	-webkit-transition: left 0.3s;
	transition: left 0.3s;
}
.save-content.retracted{
	left: 755px;
	width: 350px;
}

.save-content .form-save-content {
	float: left;
	margin-right: 10px;
	width: 340px;
}

.loading {
	font-size: 11px;
	height: 87px;
	line-height: 87px;
	position: absolute;
	text-align: center;
	width: 86px;
}

.loading img {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation-name:             infinite_rotate;
    -webkit-animation-duration:         1.5s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name:             infinite_rotate;
    -moz-animation-duration:         1.5s;
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function: linear;
    animation-name:             infinite_rotate;
    animation-duration:         1.5s;
    animation-iteration-count:  infinite;
    animation-timing-function: linear;
}

.image-select .loading {
	left: -webkit-calc(50% - 43px);
	left: -moz-calc(50% - 43px);
	left: calc(50% - 43px);
	top: 102px;
}

.loading.loaded,
.places-loaded .loading {
	display: none;
}

.save-content a.back{
	background: #01a9e7;
	display: block;
	position: absolute;
	top: 15px;
	left: 0px;
	width: 25px;
	height: 27px;
	padding: 3px 0 0 5px;
}
.save-content a.back > img{
	border: 0;
}
.save-content select,
.save-content textarea,
.save-content input[type="text"],
.pin-content-wrapper select,
.pin-content-wrapper textarea,
.pin-content-wrapper input[type="text"] {
	border-radius: 0;
	background-color: #F2F2F2;
	width: 326px;
}

.save-content input.fresh {
	width: 258px;
}

.save-content input.span2{
	width: 258px;
}
.save-content input.content-title,
.pin-content-wrapper input.content-title {
	font-weight: bolder;
}

/* grid photos */
.ref-context-img{
	width: 360px;
	margin-left: -2px;
}

.save-content .image-select {
	float: left;
	width: 350px;
	position: relative;
}

.save-content .primary-content {
	border-bottom: solid 1px #ccc;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

/* grid photos */
.photo-obj{
	display: none;
}
.photo{
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.picrow.white {
	background: white;
}
.picrow > a{
	position: relative;
}
.is-selected .photo{
	opacity: 1;
	filter: alpha(opacity=100);
}
.select-img,
.pin-content .is-selected .select-img{
	opacity: 0;
	filter: alpha(opacity=0);
}
.is-selected .select-img,
.editable .pin-content .is-selected .select-img
{
	opacity: 1;
	filter: alpha(opacity=100);
	width: 46px;
	height: 46px;
	background: url(../img/select-img.png) center center no-repeat;
	position: absolute;
	cursor: pointer;
	top: 0px;
	left: 50%;
	/* margin-left: -23px; */
}

/* save action buttons */
.collection-wrapper{
	background: #ddd;
	width: 340px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 15px 40px;
}
.collection-wrapper > input[type="text"]{
	background-color: #fff;
}

.pingismo-btn-group.btn-group .exist{
	width: 313px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	box-shadow: none;
	border: 1px solid #ccc;
	text-align: left;
	margin-bottom: 10px;
}
.pingismo-btn-group.btn-group .exist .caret{
	float: right;
}

.collections-newCollection{
	margin: 0 0 -11px 0;
}

.collections-newCollection input[type="text"] {
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin-bottom: 0px;
	width: 261px;
}

.collections-menu{
	font-size: 14px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	border: 1px solid #ccc;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	/* bottom: 10px; */
	width: 338px;
	z-index: 10000;
}

.collections-menu.thin-menu {
	width: 338px;
}

.collections-menu.thin-menu li.selected a{
	text-decoration: none;
  background-color: #01a9e7;
  color: #fff;
}
.collections-menu.upward-menu {
	bottom: 39px;
	max-height: 310px;
}

.collections-menu .input-append{
	margin: 0px;
}
.collections-menu a{
	padding: 5px 8px;
	color: #333;
	display: block;
}
.collections-menu a:hover{
	text-decoration: none;
	background-color: #01a9e7;
	color: #fff;
}
/*.collections-menu input[type="text"]{
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin-bottom: 0px;
	width: 258px;
}

.collections-menu.thin-menu input[type="text"] {
	width: 260px;
}

.collections-menu .error input[type="text"]{
	border: 1px solid;
}

.collections-menu .error input[type="text"]::-webkit-input-placeholder{
	color: #b94a48;
}

.collections-menu .error input[type="text"]::-moz-placeholder{
	color: #b94a48;
}

.collections-menu .error input[type="text"]:-ms-input-placeholder{
	color: #b94a48;
}

.collections-menu .input-append .btn{
	border-radius: 0;
	border-bottom: none;
	border-left: 1px solid #ccc;
	border-right: none;
	margin: 0px;
}*/
ul.types{
	display: inline-block;
	margin: 0px 0 20px;
	list-style: none;
}
ul.types > li{
	float: left;
}
.collection-wrapper hr{
	margin: 10px 80px 10px 0;
	border-top: 1px solid #ccc;
	border-bottom: none;
}
.empty-block{
	height: 30px;
	margin-bottom: 10px;
}

/* type selection */
.types-scenicspot,
.types-hotel,
.types-mall,
.types-restaurant,
.types-bar,
.types-misc{
	display: block;
	width: 38px;
	height: 32px;
	margin: 0;
}
.types-scenicspot{
	background: url(../img/type-scenicspot.png) 0 0 no-repeat;
}
.types-hotel{
	background: url(../img/type-hotel.png) 0 0 no-repeat;
}
.types-mall{
	background: url(../img/type-mall.png) 0 0 no-repeat;
}
.types-restaurant{
	background: url(../img/type-restaurant.png) 0 0 no-repeat;
}
.types-bar{
	background: url(../img/type-bar.png) 0 0 no-repeat;
}
.types-misc{
	background: url(../img/type-misc.png) 0 0 no-repeat;
}
.types-scenicspot:hover,
.types-hotel:hover,
.types-mall:hover,
.types-restaurant:hover,
.types-bar:hover,
.types-misc:hover,
.active .types-scenicspot,
.active .types-hotel,
.active .types-mall,
.active .types-restaurant,
.active .types-bar,
.active .types-misc{
 background-position: 0 -30px;
}

/* Pin */
.pingismo-pin{
	width: 44px;
	height: 53px;
	position: absolute;
	z-index: 999;
	/* margin: -50px 0 0 -155px; */
	margin-left: -22px;
}
.pingismo-pin .pin-scenicspot,
.pingismo-pin .pin-hotel,
.pingismo-pin .pin-mall,
.pingismo-pin .pin-restaurant,
.pingismo-pin .pin-bar,
.pingismo-pin .pin-misc{
	display: block;
	width: 44px;
	height: 60px;
}
.pingismo-pin .pin-scenicspot{
	background: url(../img/pin-scenicspot.png) 0 0 no-repeat;
}
.pingismo-pin.active .pin-scenicspot{
	background: url(../img/pin-scenicspot-highlight.png) 0 0 no-repeat;
}
.pingismo-pin .pin-hotel{
	background: url(../img/pin-hotel.png) 0 0 no-repeat;
}
.pingismo-pin.active .pin-hotel{
	background: url(../img/pin-hotel-highlight.png) 0 0 no-repeat;
}
.pingismo-pin .pin-mall{
	background: url(../img/pin-mall.png) 0 0 no-repeat;
}
.pingismo-pin.active .pin-mall{
	background: url(../img/pin-mall-highlight.png) 0 0 no-repeat;
}
.pingismo-pin .pin-restaurant{
	background: url(../img/pin-restaurant.png) 0 0 no-repeat;
}
.pingismo-pin.active .pin-restaurant{
	background: url(../img/pin-restaurant-highlight.png) 0 0 no-repeat;
}
.pingismo-pin .pin-bar{
	background: url(../img/pin-bar.png) 0 0 no-repeat;
}
.pingismo-pin.active .pin-bar{
	background: url(../img/pin-bar-highlight.png) 0 0 no-repeat;
}
.pingismo-pin .pin-misc{
	background: url(../img/pin-misc.png) 0 0 no-repeat;
}
.pingismo-pin.active .pin-misc{
	background: url(../img/pin-misc-highlight.png) 0 0 no-repeat;
}
.pingismo-pin .icon-check{
	background: url(../img/icon-checked.png) 0 0 no-repeat;
	width: 21px;
	height: 21px;
	margin: -20px -5px 0 0;
	display: none;
}

.pin-popup{
	width: 200px;
	height: 140px;
	/* change popup layout background: url(../img/popup-background.png) 0 0 no-repeat;*/
	position: absolute;
	margin-top: -50px;
	margin-left: -105px;
	color: #707070;
	line-height: 16px;
	overflow: hidden;
	opacity: 0;
	border-radius: 6px;
}
.pin-popup p{
	width: 200px;
	margin: -20px 0 0 0;
	padding: 0 5px;
	float: left;
}

.message-popup.pin-popup p{
	width: 285px;
	padding-left: 15px;
}

.pin-popup strong{
	font-size: 15px;
	font-weight: normal;
	color: #fff;
	display: block;
	line-height: 1.2em;
	margin-bottom: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.pin-popup .pin-popup-settings{
	margin: -3px 0 0 0;
	font-size: 12px;
	color: #01A9E7;
	text-align: center;
	padding: 7px 0 7px 0;
	background-color: white;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.pin-popup .pin-popup-settings:hover{
	cursor: pointer;
}
.pin-popup .pin-popup-triangle {
	width: 0;
  height: 0;
  margin: 0 0 0 86px;
  padding: 0;
  float: left;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #fff;
}
.pin-popup .pin-popup-img{
	background-color: #fff;
	background-image: url();
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	width: 200px;
    height: 90px;
    overflow: hidden;
	float: right;
	box-shadow: 0px -12px 36px #000 inset;
}
.pin-popup .pin-popup-img img {
   max-width: none;
   display: none;
}
.pin-popup .pin-popup-img i{
	opacity: .6;
	filter: alpha(opacity=60);
	background: url(../img/expand_collapse_btn.png) 0 0 no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 25px;
	height: 25px;
}
.pin-popup .pin-popup-img:hover i{
	opacity: 1;
	filter: alpha(opacity=100);
}
.pin-popup .pin-popup-img i.is-expanded{
	background-position: 0 -25px;
}

/* Pin - animiation */
.pin-bar.showme{
	animation: pingismo-pin-bar-anim 0.6s both;
	-webkit-animation: pingismo-pin-bar-anim 0.6s both;
}
.pin-hotel.showme{
	animation: pingismo-pin-hotel-anim 0.6s both;
	-webkit-animation: pingismo-pin-hotel-anim 0.6s both;
}
.pin-mall.showme{
	animation: pingismo-pin-mall-anim 0.6s both;
	-webkit-animation: pingismo-pin-mall-anim 0.6s both;
}
.pin-misc.showme{
	animation: pingismo-pin-misc-anim 0.6s both;
	-webkit-animation: pingismo-pin-misc-anim 0.6s both;
}
.pin-restaurant.showme{
	animation: pingismo-pin-restaurant-anim 0.6s both;
	-webkit-animation: pingismo-pin-restaurant-anim 0.6s both;
}
.pin-scenicspot.showme{
	animation: pingismo-pin-scenicspot-anim 0.6s both;
	-webkit-animation: pingismo-pin-scenicspot-anim 0.6s both;
}
.pin-popup.showme{
	animation: pingismo-pinpopup-anim 0.3s ease-in 0.35s both;
	-webkit-animation: pingismo-pinpopup-anim 0.3s ease-in 0.35s both;
}

.map-pin{
	width: 32px;
	height: 32px;
	position: absolute;
	z-index: 99999;
}

.pin-img{
	width: 32px;
	height: 32px;
}

/* alert */
.top-alert{
	position: absolute;
	top: 0px;
	left: 50%;
	width: 600px;
	margin-left: -300px;

}

.top-alert.visible {
	top: 45px;
	-moz-transition: top: 0.3s;
	-webkit-transition: top: 0.3s;
	transition: top: 0.3s;
}

.map-alert{
	position: absolute;
	display: none;
}

.map-alert .pin-popup {
	left: 22px;
	top: -54px;
}

.map-alert.visible {
	display: block;
}

.map-alert.visible .pin-popup {
	opacity: 1;
}

.map-dialog {
	background: #B3D1FF;
	display: none;
	height: -moz-calc(100% - 75px);
	height: -webkit-calc(100% - 75px);
	height: calc(100% - 75px);
	left: 0;
	position: absolute;
	top: 45px;
	width: 100%;
}

.map-dialog-background {
	background: #ffffff;
	left: -moz-calc(50% - 175px);
	left: -webkit-calc(50% - 175px);
	left: calc(50% - 175px);
	padding: 10px 15px;
	position: absolute;
	top: -moz-calc(50% - 175px);
	top: -webkit-calc(50% - 175px);
	top: calc(50% - 175px);
	width: 350px;
}

.map-dialog.visible {
	display: block;
}

.map-dialog .map-dialog-title {
	font-size: 2.0em;
	line-height: 1.2em;
}

.map-dialog .map-dialog-message {
	margin-bottom: 2.5em;
}

/* collection list */
.collection-list-wrapper{
	padding: 55px 25px 0;
}
.collection-list-wrapper .collection-header{
	position: relative;
	margin-bottom: 15px;
}
.collection-header .collection-name{
	line-height: 20px;
	display: inline-block;
	color: #fff;
	font-size: 20px;
}
.collection-header .collection-name .icon-expand-collapse{
	background: url(../img/collection_expand_collapse_btn.png) 0 0 no-repeat;
	width: 20px;
	height: 20px;
	margin: 4px 0 0 0;
	text-indent: 0px;
}
.collection-header .collection-name:hover{
	text-decoration: none;
	color: #01a9e7;
}
.collection-header .collection-name:focus{
	text-decoration: none;
}
.collection-header .collection-name:hover .icon-expand-collapse{
	background-position: 0 -20px;
}
.collection-header .collection-name.active{
	background-position: 0 -40px;
}
.collection-header .collection-name.active:hover{
	background-position: 0 -60px;
}
.collection-header .collection-name.active i{
	-webkit-animation:spinup 0.25s linear 0;
    -moz-animation:spinup 0.25s linear 0;
    animation:spinup 0.25s linear 0;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.collection-header .collection-name i{
	-webkit-animation:spindown 0.25s linear 0;
    -moz-animation:spindown 0.25s linear 0;
    animation:spindown 0.25s linear 0;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-moz-keyframes spindown { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spindown { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spindown { 100% { transform:rotate(90deg); } }

@-moz-keyframes spinup { 0% { -moz-transform: rotate(90deg); } 100% { -moz-transform: rotate(0deg); } }
@-webkit-keyframes spinup { 0% { -webkit-transform: rotate(90deg); } 100% { -webkit-transform: rotate(0deg); } }
@keyframes spinup { 0% { transform:rotate(90deg); } 100% { transform:rotate(0deg); } }

.collection-header .description{
	color: #707070;
	font-size: 12px;
	margin-left: 5px;
}
.collection-header .list-view{
	font-size: 12px;
	display: inline-block;
	height: 14px;
	padding: 5px 15px 5px 35px;
	border-radius: 3px;
	color: #fff;
	opacity: 1;
	filter: alpha(opacity=100);
	text-decoration: none;
	margin: 3px 0 0 0;
	line-height: 16px;
}
.collection-header .list-view{
	background: url(../img/icon-list-view.png) 10px 2px no-repeat;
	background-color: #707070;
}

.collection-header .list-view.active{
	background-color: #01A9E7;
}
.collection-list-wrapper .nav{
	width: 350px;
	overflow: hidden;
}
.collection-list-wrapper a{
	line-height: 30px;
	color: #707070;
	font-size: 15px;
}
.collection-list-wrapper .nav>li>a:hover,
.collection-list-wrapper .nav>li.active>a{
	background-color: transparent;
	color: #fff;
}
.collection-list-wrapper a.edit{
	background: url(../img/icon-delete-collection.png) 0 0 no-repeat;
	padding-left: 30px;
	padding-bottom: 5px;
}
.collection-list-wrapper a.edit:hover{
	color: #ff0000;
	text-decoration: none;
}
.collection-list-wrapper .nav .divider{
	height: 1px;
	margin: 20px 0;
	overflow: hidden;
	background-color: #181818;
	border-bottom: 1px solid #373737;
}
.collection-list-wrapper .nav>li>a.btn-default{
	margin-top: 5px;
}
.collection-list-wrapper .nav>li>a.btn-default:hover{
	background-color: #01a9e7;
}

/* confirm to delete collection */
.delete-collection-wrapper{
	position: absolute;
	left: 0;
	top: 0;
	width: 425px;
	overflow: hidden;
	padding: 50px 40px 30px 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #707070;
	-moz-transition: top 0.3s ease 0.3s, opacity 0.3s ease 0.3s;
	-webkit-transition: top 0.3s ease 0.3s, opacity 0.3s ease 0.3s;
	transition: top 0.3s ease 0.3s, opacity 0.3s ease 0.3s;
	visibility: hidden;
	opacity: 0;
	top: 300px;
}

.delete-collection-wrapper.visible {
	opacity: 1.0;
	top: 0;
	visibility: visible;
}

.delete-collection-wrapper hr{
	margin: 10px 0 13px 0;
	border-bottom: solid 1px #373737;
	border-top: solid 1px #222;
}
.delete-collection-wrapper h4{
	color: #fff;
}
.delete-collection-wrapper .pin-content-footer{
	height: 60px;
	width: 100%;
	background-color: #2c2c2c;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
/* pin content */
.pin-content-wrapper,
.delete-pin-wrapper{
	position: absolute;
	right: 0;
	top: 0;
	width: 440px;
	overflow: hidden;
	padding: 95px 0 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.pin-content-wrapper{
	height: 100%;
}
.pin-content-wrapper .pin-content{
	padding: 5px 0 60px 55px;
	color: #707070;
}
.pin-content-wrapper .pin-content .collection{
	color: #ffffff;
}
.pin-content-wrapper .pin-content .pin-details{
	width: 380px;
}
.pin-content-wrapper .pin-content .ref-address{
	background: url('../img/icon-address.png') no-repeat;
	padding-left: 30px;
	width: 85%;
}
.pin-content-wrapper h4,
.delete-pin-wrapper h4{
	color: #fff;
}
.pin-content-wrapper .pin-content .ref-url{
	font-size: 12px;
	background: url('../img/icon-link.png') no-repeat;
	padding-left: 30px;
	width: 85%;
}
.pin-content ul.types li{
	padding-top: 5px;
	display:none;
}
.pin-content ul.types li.collectionName {
	padding-top: 10px;
}
.pin-content-wrapper.editable .pin-content ul.types li {
	display: inline-block;
}
.pin-content ul.types li.active{
	display: block;
}
.pin-content ul.types li{
	padding-top: 5px;
	display:none;
}
.pin-content ul.types li.collectionName {
	padding-top: 10px;
}
.pin-content-wrapper.editable .pin-content ul.types li {
	display: inline-block;
}
.pin-content ul.types li.active{
	display: block;
}
.pin-content-wrapper .pin-cover{
	width: 200px;
	float: right;
	margin-right: 20px;
	padding-top: 10px;
}
.pin-content-wrapper .pin-cover>img{
	width: 200px;
}
.pin-content-wrapper .pin-cover>ul{
	margin: 10px 0px 0px;
	list-style: none;
}
.pin-content-wrapper .pin-content-footer{
	height: 60px;
	width: 100%;
	background-color: #2c2c2c;
	padding: 0 20px 0 55px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.pin-content-wrapper .pin-content-footer.fixed{
	position: absolute;
	bottom: 30px;
}
.pin-content-wrapper hr,
.delete-pin-wrapper hr{
	margin: 0 0 10px -20px;
	border-bottom: solid 1px #373737;
	border-top: solid 1px #222;
}

#done-edit-pin-content-btn, #del-pin-content-btn,
.pin-content-wrapper.editable #edit-pin-content-btn,
.pin-content-wrapper select,
.pin-content-wrapper textarea,
.pin-content-wrapper input[type="text"],
.pin-content-wrapper.editable .pin-details h4,
.pin-content-wrapper.editable .pin-details p.ref-context,
.pin-content-wrapper .cover-img p,
.pin-content-wrapper .pingismo-btn-group.btn-group,
.pin-content-wrapper.editable .pin-content .types .collectionName{
	display: none;
}

.pin-content-wrapper.editable #done-edit-pin-content-btn,
.pin-content-wrapper.editable #del-pin-content-btn,
.pin-content-wrapper.editable select,
.pin-content-wrapper.editable textarea,
.pin-content-wrapper.editable input[type="text"],
.pin-content-wrapper .pin-content .types .collectionName{
	display: inline-block;
}

.pin-content-wrapper.editable .pingismo-btn-group.btn-group{
	display: block;
}
.pin-content-wrapper input.content-title{
	margin-top: 10px;
}
.pin-content-wrapper.editable .cover-img{
	opacity: .45;
	filter: alpha(opacity=45);
	border: dashed 3px #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
}
.pin-content-wrapper.editable .cover-img p{
	display: block;
	position: absolute;
	top: 50%;
	text-align: center;
	color: #fff;
	margin: -20px 15px 0;
}
.pin-content-wrapper .pingismo-btn-group.btn-group .exist{
	width: 314px;
}

/* confirm to delete pin */
.delete-pin-wrapper{
	padding: 95px 20px 30px 40px;
	color: #707070;
	-moz-transition: top 0.3s ease 0.3s, opacity 0.3s ease 0.3s;
	-webkit-transition: top 0.3s ease 0.3s, opacity 0.3s ease 0.3s;
	transition: top 0.3s ease 0.3s, opacity 0.3s ease 0.3s;
	visibility: hidden;
	opacity: 0;
	top: 300px;
}

.delete-pin-wrapper.visible {
	opacity: 1.0;
	top: 0;
	visibility: visible;
}

.delete-pin-wrapper hr{
	margin-top: 10px;
}

.icon-clock {
	background: transparent url(../img/icon-clock.png) 0 -32px no-repeat;
	display: inline-block;
	height: 16px;
	margin-top: 0;
	margin-bottom: 0;
	width: 16px;
}

.item-pin.scenicspot { background-image: url(../img/pin-scenicspot.png); }
.item-pin.restaurant { background-image: url(../img/pin-restaurant.png); }
.item-pin.hotel { background-image: url(../img/pin-hotel.png); }
.item-pin.mall { background-image: url(../img/pin-mall.png); }
.item-pin.bar { background-image: url(../img/pin-bar.png); }
.item-pin.misc { background-image: url(../img/pin-misc.png); }

/* New collection list view template style */
.collection-list-view {
	align-content: flex-start;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	height: -moz-calc(100% - 125px);
	height: -webkit-calc(100% - 125px);
	height: calc(100% - 125px);
	position: absolute;
	top: 95px;
	/*width: 100%;*/ /* toggle this, can move maps while on the listview mode */
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.collection-list-view.withCollectionList {
	left: 380px;
}
.collection-listview{
  background-color: rgba(0,0,0,0.1);
  margin: 0;
  height: 100% !important; /* hack for css style */
  width: 360px;
  list-style: none;
}

.collection-listview li{
	background-color: #fff;
	border: 1px solid #dddddd;
	padding: 9px;
	font-size: 15px;
	color: #181818;
	cursor: pointer;
	/*margin: 0 0 3px;*/
}

.collection-listview li .thumbnail{
	background-position: center center;
	width: 90px;
	height: 90px;
	margin: 0px;
	padding: 0px;
	border: none;
	border-radius: 0;
	box-shadow: none;
	float: left;
}

.collection-listview li .context{
	float: right;
	width: 240px;
	font-weight: 200;
}

.collection-listview li .context span{
	display: block;
	font-size: 10px;
	color: #707070;
}

.collection-listview .tags{
	margin: 6px 0 0;
	list-style: none;
	font-size: 10px;
	color: #707070;
}

.collection-listview .tags li{
	float: left;
	background-color: rgba(0,0,0,0.1);
	padding: 0px 8px;
	margin: 5px 5px 0 0;
}

.collection-listview li:hover, .collection-listview li:hover .context span{
	border-color: #01A9E7;
	color: #01A9E7;
}
.collection-listview li.isSelected,
.collection-listview li.isSelected:hover,
.collection-listview li.isSelected .context span,
.collection-listview li.isSelected:hover .context span{
	background-color: #01A9E7;
	color: #fff;
}

.collection-listview li.isSelected .tags,
.collection-listview li:hover .tags{
	color: #fff;
}
/* collection-listview m-custom-scrollbar*/
.collection-listview .mCSB_dragger_bar {
	background-color: #707070 !important;
}
.collection-listview .mCSB_scrollTools {
	opacity: 1;
	width: 6px;
}
.collection-listview .mCSB_draggerRail {
	background-color: #dddddd !important;
	width: 6px !important;
}
.collection-listview .mCSB_container {
	margin-right:2px !important; /* it's bad I know */
}
