<!DOCTYPE html>
<html ng-app="IndexApp">
	<head>
		<title>MappingBird - Remember places for later</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        	<link href="{{ STATIC_URL }}new_index/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:,b,300|Cinzel">
        	<link href="{{ STATIC_URL }}new_index/css/materialdesignicons.css" media="all" rel="stylesheet" type="text/css" />
        	<link rel="stylesheet" href="{{ STATIC_URL }}new_index/css/mb-style.css">
        	<link rel="stylesheet" href="{{ STATIC_URL }}new_index/css/index.css">
        	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fancybox/jquery.fancybox.css">

		<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
    		<link rel="icon" type="image/png" href="/static/favicon.ico" />
    		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ipjijcfmgfehpiiigjgjdgkldeligkfo">

		<meta name="title" content="MappingBird - Remember places for later"/>
		<meta name="description" content="MappingBird - The easiest tool for bookmarking places you find when browsing the web or chatting with friends. View your saved places later on your smartphone when you need them."/>
		<meta name="keywords" content="MappingBird, Mapping Bird, travel, travels, planning, travel planning, save for later, bookmark, bookmarks, bookmarking, bookmark place, bookmark places, review, reviews, popular, plan, map, maps, attractions, advice, restaurants, iphone, app, offline, ipad, android, kindle, firefox, extension, note taking, note taking software, notes, remember, memory assistant, personal memory assistant"/>
		 <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>

		<meta property="og:title" content="MappingBird - Remember places for later" />
		<meta property="og:url" content="http://www.mappingbird.com/" />
		<meta property="og:description" content="MappingBird - The easiest tool for bookmarking places you find when browsing the web or chatting with friends. View your saved places later on your smartphone when you need them." />
		<meta property="og:image" content="http://www.mappingbird.com/static/new_index/images/share_images.jpg" />

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@MappingBird">
		<meta name="twitter:title" content="MappingBird - Remember places for later">
		<meta name="twitter:description" content="MappingBird - The easiest tool for bookmarking places you find when browsing the web or chatting with friends. View your saved places later on your smartphone when you need them.">
		<meta name="twitter:image:src" content="http://www.mappingbird.com/static/new_index/images/twitter_share_images.jpg">

		<meta itemprop="name" content="MappingBird - Remember places for later"/>
		<meta itemprop="description" content="MappingBird - The easiest tool for bookmarking places you find when browsing the web or chatting with friends. View your saved places later on your smartphone when you need them."/>
		<meta itemprop="image" content="http://www.mappingbird.com/static/new_index/images/share_images.jpg"/>
    <meta name="google-site-verification" content="2jDqeNwDYc2gLlaivjMppxDcIXBQ2UIM4UxhVGkDAkY" />

	</head>
	<body ng-controller="ModalDemoCtrl">
		<script type="text/ng-template" id="myModalContent.html">
	        <div class="modal-header">
                <img src="{{ STATIC_URL }}new_index/images/coming_soon_pic.jpg" />
	            <h2 class="modal-title">Need IPhone version?</h2>
	        </div>
	        <div class="modal-body">
	        	<p>
	        		We're busy putting on the final touches. Join our waiting list and you will be the first to know when it is ready.
	        	</p>
	        </div>
	        <div class="modal-footer">
	        	<form class="form-inline">
	        		<div class="form-group">
	        			<label for="WaitingEmail1" class="sr-only">Email address</label>
	        			<input type="email" class="form-control waiting-email" id="WaitingEmail1" placeholder="Your email address">
	        		</div>
	            	<button type="submit" class="btn btn-primary" onclick="sendEmailtoGoogleForm('WaitingEmail1')" ng-click="ok('WaitingEmail1')">Let me know when it's done.</button>
	        	</form>
	        </div>
	    </script>
			<script type="text/ng-template" id="myModalContent2.html">
		        <div class="modal-header">
	                <img src="{{ STATIC_URL }}new_index/images/Chrome-logo.png" />
		            <h2 class="modal-title">INTERESTED IN MAPPINGBIRD?</h2>
		        </div>
		        <div class="modal-body">
		        	<p>
		        		We are sorry that MappingBird works for <b>Google Chrome</b> and <b>Android</b> for now. Join our waiting list and we'll let you know when we support your platform!
		        	</p>
		        </div>
		        <div class="modal-footer">
		        	<form class="form-inline">
		        		<div class="form-group">
		        			<label for="WaitingEmail2" class="sr-only">Email address</label>
		        			<input type="email" class="form-control waiting-email" id="WaitingEmail2" placeholder="Your email address">
		        		</div>
		            	<button type="submit" class="btn btn-primary" onclick="sendEmailtoGoogleForm('WaitingEmail2')" ng-click="ok('WaitingEmail2')">Let me know when it's done.</button>
		        	</form>
		        </div>
		    </script>
		<!-- Intro section start -->
		<section class="intro">
			<nav class="navbar navbar-default mb-navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
                        <a class="navbar-brand" href="#"><img src="{{ STATIC_URL }}new_index/images/white_logo.png" /></a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<button class="btn btn-default navbar-btn text-uppercase mb-signin" data-href="/login">
								<i class="mdi mdi-account"></i> Sign In
							</button>
						</li>
					</ul>
				</div>
			</nav>
			<div class="container">
				<div class="row">
					<div class="col-md-6 mb-hero">
						<div class="jumbotron">
							<h1>Find interesting places?<br/>
								Save to MappingBird.</h1>
							<p>Just 1 click. MappingBird helps you bookmark places from any website, and easy to access on any PC and smartphones.</p>
						</div>
						<p class="mb-intro-actions">
							<a id="watch-video-button" href="https://youtu.be/COZTEe9Mi10" class="text-uppercase fancybox-media track-click"><span>watch 1 min intro <b><i class="mdi mdi-play"></i></b></span></a>
							<a href="javascript:void(0);" ng-click="getStarted()"class="btn btn-primary btn-lg text-uppercase track-click" id="ready-to-go-button">GET STARTED. IT’S FREE.</a>
						</p>
						<a class="learnmore_wrapper track-click" id="learnmore-btn" href="#whatitis" >
							<p class="text-uppercase">Learn more</p>
							<div class="learnmore_arrow"></div>
						</a>
					</div>
					<div class="col-md-6">
						<img src="{{ STATIC_URL }}new_index/images/index_imac_nexus.png" class="intro-screenshots">
					</div>
				</div>
			</div>
		</section>
		<!-- end of intro section -->
		<!-- What section start -->
		<section class="what">
			<a name="whatitis"></a>
			<!--nav class="navbar navbar-default mb-navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<a href="#" class="navbar-brand"><img src="images/dark_logo.png" /></a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#" class="text-uppercase">what it is</a></li>
						<li><a href="#" class="text-uppercase">how it works</a></li>
						<li><a href="#" class="text-uppercase">follow us</a></li>
					</ul>
				</div>
			</nav-->
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2>Map Places From Any Website</h2>
						<p>With the free Save to MappingBird browser button, you can bookmark interesting and intriguing places with just a few clicks while browsing.</p>
					</div>
					<div class="col-md-6">
                        <img src="{{ STATIC_URL }}new_index/images/what_screenshot_bookmark.jpg" width="90%" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
                        <img src="{{ STATIC_URL }}new_index/images/what_screenshot_organize.jpg" width="90%" />
					</div>
					<div class="col-md-6">
						<h2>Get A Bird’s-eye View of All Your Saved Places</h2>
						<p>Mappingbird offers ways to group your places by collections and/or tags. View groups of places on the map by selecting a collection.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h2>Access Saved Places From Any Device</h2>
						<p>Install the free Mappingbird app on your Android phone so you can access your saved places whenever and wherever you need them. (iOS app coming soon!)</p>
						<ul class="list-inline">
                            <li><a href="//play.google.com/store/apps/details?id=com.mpbd.mappingbird" target="_blank"><img src="{{ STATIC_URL }}new_index/images/googleplay_icon.png" id="google-play-icon" class="track-click" /></a></li>
                            <li><a href="javascript:void(0);" ng-click="open()"><img src="{{ STATIC_URL }}new_index/images/appstore_icon.png" id="app-store-icon" class="track-click" /></a></li>
						</ul>
					</div>
					<div class="col-md-6">
                        <img src="{{ STATIC_URL }}new_index/images/what_screenshot_mobile.jpg" width="90%" />
					</div>
				</div>
			</div>
		</section>
		<!-- End of what section -->
		<section class="how">
            {% verbatim %}
			<h1>How It Works</h1>
			<div ng-controller="CarouselDemoCtrl" class="carousel-wrapper container">
				<div>
					<carousel interval="myInterval">
				    	<slide ng-repeat="slide in slides" active="slide.active">
				        	<img ng-src="{{slide.image}}" style="margin:auto;">
				        	<div class="carousel-caption">
				          		<h4>{{slide.title[$index]}}</h4>
				          		<p>{{slide.text[$index]}}</p>
				        	</div>
				      	</slide>
				    </carousel>
				</div>
		  	</div>
            {% endverbatim %}
		</section>
		<section class="follow-us">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2 col-md-offset-2">
                        <img src="{{ STATIC_URL }}new_index/images/index_facebook_icon.png" />
					</div>
					<div class="col-md-6">
						<h2>Like our Facebook page</h2>
						<p>Help us help you by sharing your likes and dislikes about MappingBird on our Facebook page.</p>
                        <a class="btn btn-primary text-uppercase track-click" href="https://www.facebook.com/MappingBird" id="facebook-button"><img src="{{ STATIC_URL }}new_index/images/facebook_like_thumb.png" /> Like us now</a>
					</div>
				</div>
			</div>
		</section>
		<footer class="mb-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
                        <img class="brand-logo" src="{{ STATIC_URL }}new_index/images/footer_logo.png" /> Remember places for later.
					</div>
					<div class="col-md-6">
						<!--ul class="nav navbar-nav navbar-right mb-lang-switch">
							<li class="active"><a href="#">English</a></li>
							<li>|</li>
							<li><a href="#">繁體中文</a></li>
						</ul-->
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<small>Copyright &copy; 2015 Mappingbird. All referred posts © their respective owners.</small>
					</div>
					<div class="col-md-6">
						<!--ul class="nav navbar-nav navbar-right">
							<li><a href="#" class="small"><i class="mdi mdi-email"></i>Feedback</a></li>
							<li><a href="#" class="small"><i class="mdi mdi-facebook-box"></i>Follow Us</a></li>
						</ul-->
					</div>
				</div>
			</div>
		</footer>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}new_index/js/ui-bootstrap-tpls-0.12.0.min.js"></script>
        <script src="{{ STATIC_URL }}new_index/js/index.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}new_index/js/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}new_index/js/jquery.fancybox-media.js?v=1.0.6"></script>
		<script>
			$(document).ready(function(){
				//fancybox for showing video
				$('.fancybox-media').fancybox({
					openEffect  : 'none',
					closeEffect : 'none',
					helpers : {
						media : {}
					}
				});

				//jquery for smooth scrolling
				$(function() {
				  $('a[href*=#]:not([href=#])').click(function() {
				    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
				      var target = $(this.hash);
				      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
				      if (target.length) {
				        $('html,body').animate({
				          scrollTop: target.offset().top
				        }, 1000);
				        return false;
				      }
				    }
				  });
				});
			});

			$('.track-click').on('click', function() {
				sga($(this).attr('id'), 'click', 'fb-landing');
			});

            $('.mb-signin').on('click', function() {
                window.location.href = $(this).attr('data-href');
            });

			function sendEmailtoGoogleForm(id){
				var email = $('#' + id).val();

				// test email regular expression
				var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				if (!re.test(email)) {
					window.alert('Invalid Email!');
					return;
				}

				// send email to google form
				sga('email', 'save attempt', 'fb-landing');
				$.ajax({
		            url: "https://docs.google.com/forms/d/1uQ52cC3YmmFiJhx0pQIH7Kct965SeHBnAERUmhOlidA/formResponse",
		            data: { "entry_1147463210": email},
		            type: "POST",
		            dataType: "xml",
		            success: function (data, textStatus, jqXHR) {
		            	sga('email', 'save success', 'fb-landing');
		            }
		        });
			}

			// send custom GA event
			function sga (category, action, label, value) {
				if (typeof ga != 'undefined') {

		            if (typeof value !== 'undefined') {
		                ga('send', 'event', category, action, label, value);
		            } else {
		                ga('send', 'event', category, action, label);
		            }

		        }
			}
			</script>

			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-60481551-1', 'auto');
				ga('send', 'pageview');

			</script>
	</body>
</html>
