@charset "utf-8";
/* CSS Document */
/* Base -------------------------------------------------------------------------------------- */
h1, h2{
	font-family: Cinzel;
	font-weight: normal;
}
.intro h1{font-size: 36px; margin-bottom: 16px; margin-top: 12px;}
.what h2{font-size: 24px;}

/* Layout -------------------------------------------------------------------------------------- */
section.intro{
	background: url('../images/multi_websites_bg.jpg') center center no-repeat;
	background-size: cover;
	height: 100%;
	position: relative;
	overflow: hidden;
}
section.what .row{
	margin: 0;
	padding: 25px 0;
	border-bottom: 1px solid #ddd;
}
section.how{
	background: url('../images/how_bg.jpg') center center no-repeat;
	background-size: cover;
	height: 700px;
	overflow: hidden;
}
section.follow-us{
	padding: 60px 0;
	background-color: #ddd;
}
footer.mb-footer{
	background-color: #181818;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #707070;
}
footer.mb-footer .brand-logo{
	vertical-align: bottom;
}

/* State -------------------------------------------------------------------------------------- */

/* Module -------------------------------------------------------------------------------------- */

/* hero video */
.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative;
}
.no-video .video-container video,
.touch .video-container video {
	display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
	display: block !important;
}
.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
}
.video-container .poster img {
	width: 100%;
	bottom: 0;
	position: absolute;
}
.video-container .filter {
	z-index: 100;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
}
.video-container video {
	position: absolute;
	z-index: 0;
	bottom: 0;
}
.video-container video.fillWidth {
	width: 100%;
}

/* default navigation bar */
.navbar.navbar-default.mb-navbar-default{
	background-color: transparent;
	border: none;
}
.navbar.navbar-default.mb-navbar-default .navbar-right{ margin-right: 0;}
.navbar.navbar-default.mb-navbar-default a.navbar-brand{height: auto;}
.navbar.navbar-default.mb-navbar-default button.mb-signin{
	background-color: #f6892a;
	color: #fff;
	margin: 25px 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
}
.navbar.navbar-default.mb-navbar-default button.mb-signin:hover{
	background-color: #d1711e;
}
button.mb-signin .mdi{margin-bottom: 2px;}
button.mb-signin .mdi:before{font-size: 18px!important;}

/* inverse navigation bar */
.navbar.navbar-default.mb-navbar-inverse{
	background-color: transparent;
	background: url('../images/index_navbar_bg.png') 0 0;
	border: none;
}
.navbar.navbar-default.mb-navbar-inverse .navbar-right{ margin-right: 0; margin-top: 10px;}
.navbar.navbar-default.mb-navbar-inverse a.navbar-brand{height: auto;}
.mb-navbar-inverse .navbar-nav>.active>a:hover, .mb-navbar-inverse .navbar-nav>.active>a, .mb-navbar-inverse .navbar-nav>li>a:hover{
	background-color: transparent;
	color: #f6892a;
}


.mb-hero{
	color: #fff;
	text-align: center;
	font-weight: 300;
}
.mb-hero .jumbotron {
	background-color: transparent;
	margin: 0;
	padding: 0;
}
.mb-hero .jumbotron p{
	font-size: 16px;
	margin-bottom: 36px;
}

a.btn-primary.mb-play{
	border-radius: 20px;
	padding: 8px;
	margin: 0 6px;
}

/* Intro */
.intro .container{
	position: relative;
	top: 50%;
	margin-top: -300px;
}
.mb-intro-actions{
	margin-top: 0;
}
.mb-intro-actions .btn{
	margin: 36px 5px 0;
	width: 300px;
}
.mb-intro-actions .btn-default{
	background-color: transparent;
	color: #fff;
	border-color: #fff;
}
.mb-intro-actions .btn-default:hover{
	color: #01a9e7;
	border-color: #01a9e7;
}
#watch-video-button{
	background: url('../images/index_video_clip.png') 0 0 no-repeat;
	display: block;
	width: 240px;
	height: 136px;
	margin: 0 auto;
	padding-top: 48px;
}
#watch-video-button:hover{
	background-color: #3276b1;
	color: #fff;
	border-color: #3276b1;
	text-decoration: none;
}
#watch-video-button span{
	background-color: rgba(0,0,0,0.6);
	margin: 0;
	padding: 10px;
	line-height: 40px;
	color: #fff;
	border-radius: 20px;
	font-size: 15px;
	font-weight: 400;
}
#watch-video-button:hover span{
	background-color: rgba(50,118,177,0.85);

}
#watch-video-button span b{
	background-color: #fff;
	border-radius: 15px;
	padding: 2px 0;
	margin-left: 5px;
}
#watch-video-button span i{
	line-height: 0;
	color: rgba(0,0,0,0.6);
}
#watch-video-button:hover span i{
	color: #3276b1;
}
.learnmore_wrapper{
	color: #fff;
	margin-top: 60px;
	display: block;
}
.learnmore_wrapper:hover, .learnmore_wrapper:active, .learnmore_wrapper:visited{
	color: #fff;
}
.learnmore_wrapper .learnmore_arrow{
	background: url('../images/learnmore_arrow.png') 0 0 no-repeat;
	width: 60px;
	height: 31px;
	margin: 0 auto;
}
img.intro-screenshots{ width: 100%; }

/* Testimony */
.testimony .row{margin: 0;}
.testimony h2{ font-size: 24px; padding: 0 20px;}
.testimony p{ padding: 0 20px; }
.testimony .notes{ color: #707070; }
.testimony .col-md-4{
	background-size: auto 300px;
}
.testimony .col-md-4{
	background-size: auto 300px;
	background-position: center 0;
	background-repeat: no-repeat;
	padding: 275px 0 15px;
}
.testimony .indicator{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 25px solid #fff;
	margin-left: 20px;
}
.testimony .user-traveler{
	background-image: url('../images/user_traveler.jpg');
	width: 33%;
}
.testimony .user-freelancer{
	background-image: url('../images/user_freelancer.jpg');
	width: 34%;
}
.testimony .user-foodies{
	background-image: url('../images/user_foodies.jpg');
	width: 33%;
}

/* Efficient */
.efficient{ background: #f6892a; line-height: 180px; height: 180px; text-align: center;}
.efficient h2{
	font-size: 32px;
	margin: 0;
	line-height: 180px;
	color: #fff;
}
.efficient .btn-default{
	font-size: 18px;
	font-family: "Open Sans", "Segoe UI", "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-left: 20px;
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
}
.efficient .btn-default:hover{
	background-color: #fff;
	color: #01a9e7;
}

/* What It Is */
section.what h1{margin: 36px 0 20px; text-align: center;}
section.what h2{margin-top: 80px;}

/* How It Works */
section.how h1{
	margin: 0;
	text-align: center;
	color: #fff;
	padding: 20px 0;
	font-size: 48px;
}
section.how .carousel-wrapper{
	height: 100%;
	background: url('../images/mac.png') bottom right no-repeat;
	margin-top: -70px;
}
section.how .carousel-wrapper>div{
	padding: 0;
	margin: 0 auto; 
	height: 100%;
}
section.how .carousel{
	height: 100%;
}
section.how a.carousel-control{
	background: none;
}
section.how .carousel-inner{
	position: absolute;
	bottom: 140px;
}
section.how .item img.ng-scope{
	margin-right: 13px!important;
}
section.how .carousel-caption{
	text-align: left;
	left: 5%;
	bottom: auto;
	top: 0px;
	width: 300px;
}
section.how .carousel-indicators{
	bottom: 600px;
}
section.how .carousel-indicators li{
	margin: 1px 6px;
	width: 12px;
	height: 12px;
}
section.how .carousel-caption h4{
	font-family: Cinzel;
	font-weight: normal;
	font-size: 30px;
	text-shadow: none;
}
section.how .carousel-caption p{
	text-shadow: none;
}
section.how .carousel-control{width: 60px; opacity: 0.75; cursor: pointer;}
section.how .carousel-control:hover{opacity: 1;}
section.how .left.carousel-control{background: url('../images/carousel_control_bg.png') 0 center no-repeat; margin-left: -50px;}
section.how .left.carousel-control>span{margin-left: -16px;}
section.how .right.carousel-control{background: url('../images/carousel_control_bg.png') 0 center no-repeat; margin-right: -50px;}
section.how .right.carousel-control>span{right: 12px;}

/* Footer */
.mb-footer .nav.navbar-nav.mb-lang-switch{
	margin-top: 10px;
}
.mb-footer .nav.navbar-nav a{
	padding: 0 15px;
	color: #707070;
}
.mb-footer .nav.navbar-nav li.active a, .mb-footer .nav.navbar-nav a:hover{
	background: transparent;
	color: #fff;
}
.mb-footer .mdi{margin-bottom: 2px; margin-right: 3px;}
.mb-footer .mdi:before{font-size: 16px!important;}

/* Modal */
.modal-dialog{margin: 20px auto;}
.modal-header{text-align: center; border-bottom: none; padding: 25px 15px 0;}
.modal-header h2{margin-top: 20px;}
.modal-body{padding: 20px 20px;}
.modal-footer{
	text-align: left;
	border-top: none;
	margin-top: 0;
	padding: 0 20px 40px;
}
.modal-footer .waiting-email{
	width: 336px;
	margin-right: 6px;
}

/* Responsive */
/* Screen width 801~1200 */
@media only screen and (min-width: 801px) and (max-width: 1200px){
	section.how {height: 540px;}
	section.how .carousel-wrapper{background-size: 520px; margin-top: -80px;}
	section.how .carousel-indicators { bottom: 420px; }
	section.how .carousel-inner{bottom: 90px;}
	section.how .item img.ng-scope{ width: 480px; margin-right: 4px!important;}
	section.how .carousel-caption{width: 375px;}
	.mb-hero{padding: 0 20px 6px;}
}

/* Screen width 501~800 */
@media only screen and (min-width: 501px) and (max-width: 800px){
	body{ font-size: 14px;}
	.video-container .filter{display: none;}
	section.intro{
		height: 360px;
	}
	.navbar-header{
		width: 75%;
		float: left;
	}
	.navbar-brand img{
		width: 100%;
		height: auto;
	}
	.navbar.navbar-default.mb-navbar-default button.mb-signin{
		font-size: 0px;
		margin: 12px 0px;
		float: right;
		padding: 2px 5px;
	}
	.jumbotron{
		padding: 0px;
	}
	.mb-hero{padding: 0 25px; bottom: 5%;}
	section.intro .container{
		margin-top: 50%;
		top: -200px;
	}
	section.intro h1, section.how h1{font-size: 32px;}
	.jumbotron p{font-size: 12px;}
	#ready-to-go-button{display: none;}
	.learnmore_wrapper{margin-top: 120px;}
	.vertical-align.mb-hero{top: 30%;}
	img.intro-screenshots{display: none;}
	section.testimony .user-traveler,
	section.testimony .user-freelancer,
	section.testimony .user-foodies{width: 100%;}
	section.testimony .col-md-4{background-size: auto 420px; padding-top: 395px;}
	section.efficient{height: auto; padding: 60px 30px;}
	section.efficient h2{font-size: 28px; line-height: initial;}
	#efficient-ready-to-go-button{
		display: block;
		width: 240px;
		margin: 20px auto 0;
	}
	section.what h2, section.follow-us h2{
		margin-top: 10px;
		font-size: 25px;
		text-align: center;
	}
	section.what .container .col-md-6 img{
		width: 75%;
  		margin: 20px auto;
  		display: block;
	}
	section.what .container .col-md-6 .list-inline{text-align: center;}
	section.what .container .col-md-6 .list-inline img{width: 100%;}
	section.how {height: 520px;}
	section.how .carousel-wrapper{background-image: none;}
	section.how .carousel-indicators { bottom: 420px; }
	section.how .carousel-inner {
		top:110px;
		height: 434px;
	}
	section.how .carousel-caption {width: 90%; padding-top: 0px;}
	section.how .carousel-caption h4{font-size: 20px;}
	section.how .item img.ng-scope{
		position: relative;
  		top: 110px;
  		width: 95%;
  		margin-right: auto!important;
  		margin-left: auto!important;
	}
	.carousel-control{
		top: 70px;
		bottom: auto;
	}
	section.how .left.carousel-control{background-image: none; margin-left: 0px;}
	section.how .right.carousel-control{background-image: none; margin-right: 0px;}
	section.follow-us .container-fluid {text-align: center;}
	section.follow-us .container-fluid .row .col-md-2 img{width: 16%;}
	footer.mb-footer {text-align: center;}
	footer.mb-footer .brand-logo{display: block; margin: 0 auto;}
	footer.mb-footer .container-fluid .row:first-child{margin-bottom: 12px;}
}

/* Screen width < 500 */
@media only screen and (max-width: 500px){
	body{ font-size: 12px;}
	.video-container .filter{display: none;}
	section.intro{
		height: 300px;
	}
	.navbar-header{
		width: 75%;
		float: left;
	}
	.navbar-brand img{
		width: 100%;
		height: auto;
	}
	.navbar.navbar-default.mb-navbar-default button.mb-signin{
		font-size: 0px;
		margin: 12px 0px;
		float: right;
		padding: 2px 5px;
	}
	.jumbotron{
		padding: 0px;
	}
	.mb-hero{padding: 0; bottom: 5%;}
	section.intro .container{
		margin-top: 50%;
		top: -200px;
	}
	section.intro h1, section.how h1{font-size: 24px;}
	.jumbotron p{font-size: 12px;}
	#ready-to-go-button{display: none;}
	.learnmore_wrapper{margin-top: 120px;}
	.vertical-align.mb-hero{top: 30%;}
	section.testimony .user-traveler,
	section.testimony .user-freelancer,
	section.testimony .user-foodies{width: 100%;}
	section.testimony .col-md-4{background-size: auto 420px; padding-top: 395px;}
	section.efficient{height: auto; padding: 60px 30px;}
	section.efficient h2{font-size: 28px; line-height: initial;}
	#efficient-ready-to-go-button{
		display: block;
		width: 240px;
		margin: 20px auto 0;
	}
	section.what h2, section.follow-us h2{
		margin-top: 10px;
		font-size: 20px;
		text-align: center;
	}
	section.what .container .col-md-6 img{margin-bottom: 10px;}
	section.what .container .col-md-6 .list-inline{text-align: center;}
	section.what .container .col-md-6 .list-inline img{width: 120px;}
	section.how {height: 410px;}
	section.how .carousel-wrapper{background-image: none;}
	section.how .carousel-indicators {
  		bottom: 310px;
	}
	section.how .carousel-inner {
		top:110px;
		height: 324px;
	}
	section.how .carousel-caption {width: 90%; padding-top: 0px;}
	section.how .carousel-caption h4{font-size: 20px;}
	section.how .item img.ng-scope{
		position: relative;
  		top: 151px;
  		width: 95%;
  		margin-right: auto!important;
  		margin-left: auto!important;
	}
	.carousel-control{
		top: 70px;
		bottom: auto;
	}
	section.how .left.carousel-control{background-image: none; margin-left: 0px;}
	section.how .right.carousel-control{background-image: none; margin-right: 0px;}
	section.follow-us .container-fluid {text-align: center;}
	section.follow-us .container-fluid .row .col-md-2 img{width: 28%;}
	footer.mb-footer {text-align: center;}
	footer.mb-footer .brand-logo{display: block; margin: 0 auto;}
	footer.mb-footer .container-fluid .row:first-child{margin-bottom: 12px;}
}
