@charset "utf-8";
/* CSS Document */
/* Animation --------------------------------------------------------------------------------- */
@keyframes howitwork-background-anim{
	0%{background-position: 350% top;}
	85%{background-position: 80% top;}
	100%{background-position: 100% top;}
}
@-webkit-keyframes howitwork-background-anim{ /* Safari and Chrome */
	0%{background-position: 350% top;}
	85%{background-position: 80% top;}
	100%{background-position: 100% top;}
}
@keyframes howitwork-parag-anim{
	0%{opacity: 0; left: 20%;}
	80%{opacity: 0.8; left: -20px;}
	100%{opacity: 1; left: 0px;}
}
@-webkit-keyframes howitwork-parag-anim{ /* Safari and Chrome */
	0%{opacity: 0; left: 20%;}
	80%{opacity: 0.8; left: -20px;}
	100%{opacity: 1; left: 0px;}
}
@keyframes howitwork-simple-anim{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@-webkit-keyframes howitwork-simple-anim{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes howitwork-leave-anim{
	0%{opacity: 1; left: 0px;}
	20%{opacity: 0.8; left: 20px;}
	100%{opacity: 0; left: -20%;}
}
@-webkit-keyframes howitwork-leave-anim{ /* Safari and Chrome */
	0%{opacity: 1; left: 0px;}
	20%{opacity: 0.8; left: 20px;}
	100%{opacity: 0; left: -20%;}
}

@keyframes whatitfor-circle-anim{
	0%{opacity: 0; width: 8px; height: 8px; margin-top: 116px;}
	100%{opacity: 1; width: 168px; height: 168px; margin-top: 36px;}
}
@-webkit-keyframes whatitfor-circle-anim{
	0%{opacity: 0; width: 8px; height: 8px; margin-top: 116px;}
	100%{opacity: 1; width: 168px; height: 168px; margin-top: 36px;}
}
@keyframes whatitfor-simple-anim{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@-webkit-keyframes whatitfor-simple-anim{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes getstarted-background-anim{
	0%{opacity: 0; background-position: -175% 25px;}
	80%{opacity: 0.8; background-position: 25% 25px;}
	100%{opacity: 1; background-position: 0 25px;}
}
@-webkit-keyframes getstarted-background-anim{
	0%{opacity: 0; background-position: -175% 25px;}
	80%{opacity: 0.8; background-position: 25% 25px;}
	100%{opacity: 1; background-position: 0 25px;}
}
@keyframes getstarted-img-anim{
	0%{opacity: 0; width: 92px; height: 92px; top: 100px; left: 100px;}
	75%{opacity: 1; width: 322px; height: 322px; top: -15px; left: -15px;}
	100%{opacity: 1; width: 292px; height: 292px; top: 0; left: 0;}
}
@-webkit-keyframes getstarted-img-anim{
	0%{opacity: 0; width: 92px; height: 92px; top: 100px; left: 100px;}
	75%{opacity: 1; width: 322px; height: 322px; top: -15px; left: -15px;}
	100%{opacity: 1; width: 292px; height: 292px; top: 0; left: 0;}
}
@keyframes getstarted-simple-anim{
	0%{opacity: 0;}
	100%{opacity: 1}
}
@-webkit-keyframes getstarted-simple-anim{
	0%{opacity: 0;}
	100%{opacity: 1}
}

/* Layout ------------------------------------------------------------------------------------ */
section.intro{
	background: url(../img/intro-bg.jpg) center bottom;
	height: 780px;
	text-align: center;
}
section.intro .container{
	margin-top: 180px;
	font-size: 17px;
	color:#FFFFFF;
	-webkit-font-smoothing: antialiased;
}
section.intro .container h1{
	color:#FFFFFF;
	margin-bottom: 25px;
}
section.intro .intro-bottom{
	position: absolute;
	bottom: 0;
}
section.intro .intro-bottom td.extend{
	background: url(../img/intro-bottom-bg.png) 0 0;
}

section.how{
	background: url(../img/white_wall.png) 0 0;
	height: 750px;
	padding-top: 20px;
}
section.how h1{
	text-align: center;
}

section.what{
	background: url(../img/what-bg.jpg) center center no-repeat;
	height: 780px;
	overflow: hidden;
}

section.done{
	/*background: url(../img/white_wall.png) 0 0;*/
	background: #ebebeb;
	height: 780px;
	padding-top: 100px;
	box-sizing: border-box;
}
section.done .getstarted-btn-wrapper{
	width: 440px;
	color: #707070;
	font-size: 18px;
	line-height: 24px;
	padding-top: 80px;
}

/* Module ------------------------------------------------------------------------------------ */
/* intro video */
.video-clip{
	display: block;
	height: 45px;
	width: 260px;
	background: url(../img/video-clip.png) 0 0 no-repeat;
	box-sizing: border-box;
	padding-left: 50px;
	text-align:left;
	margin: 30px auto 0;
}
.video-clip:hover{
	background-position: 0 -45px;
}
/* remember this place button */
.remember-btn-wrapper{
	margin: 45px 0 0 50%;
	width: 660px;
	text-align: left;
}
.remember-btn-wrapper img,
.remember-btn-wrapper .remember-btn-text{
	float:left;
}
.remember-btn-wrapper .remember-btn-text{
	margin: 60px 0 0 15px;
	width: 420px;
}
.remember-btn-wrapper .remember-btn-text p{
	font-size: 15px;
	color: #707070;
}
.remember-btn{
	margin-top: 10px;
}

/* How It Works */
/* Pagination */
.how-nav-indicator{
	width: 130px;
	margin: 30px auto 0;
	list-style: none;
}
.how-nav-indicator>li{
	float: left;
	margin: 0 5px;
	display: none;
}
.how-nav-indicator>li>a{
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 8px;
	border: 2px solid #01a9e7;
}
.how-nav-indicator>li.active>a,
.how-nav-indicator>li>a:hover,
.how-nav-indicator>li>a.active
{
	background-color: #01a9e7;
}
.how-nav{
	position: absolute;
	height: 42px;
	top: 50%;
	margin-top: -50px;
	width: 320px;
}
.how-nav>a{
	display: block;
	width: 42px;
	height: 42px;
	opacity: 0;
}
.how-nav>a.prev{
	background: url(../img/how-prev-btn.png) 0 0 no-repeat;
}
.how-nav>a.next{
	background: url(../img/how-next-btn.png) 0 0 no-repeat;
}
.how-nav>a:hover{
	background-position: 0 -42px;
}

/* How It Works - steps */
section.how .container{
	background: url(../img/imac.jpg) 350% top no-repeat;
	height: 610px;
	margin: 72px auto 0;
	color: #707070;
	font-size: 18px;
	line-height: 24px;
	position: relative;
}
section.how .how-step h2{
	position: absolute;
	top: 20px;
	width: 320px;
	line-height: 32px;
	opacity: 0;
}
section.how .how-step p{
	position: absolute;
	top: 80px;
	width: 320px;
	opacity: 0;
}
section.how .container .screenshot{
	position: absolute;
	top: 32px;
	right: 32px;
	overflow: hidden;
	width: 790px;
	height: 448px;
}
section.how .container .screenshot img{
	opacity: 0;
	position: absolute;
}
.how-step{
	position: relative;
}
.how-chrome, .how-firefox, .how-safari, .how-ie{
	display: none;
}

/* How It Works - animation */
section.how .container.showme{
	animation: howitwork-background-anim 0.6s ease-in 0.5s both;
	-webkit-animation: howitwork-background-anim 0.6s ease-in 0.5s both;
}
section.how .how-step h2.showme{
	animation: howitwork-parag-anim 0.4s ease-in 0.8s both;
	-webkit-animation: howitwork-parag-anim 0.4s ease-in 0.8s both;
}
section.how .how-step p.showme{
	animation: howitwork-parag-anim 0.4s ease-in 1s both;
	-webkit-animation: howitwork-parag-anim 0.4s ease-in 1s both;
}
.how-nav>a.showme{
	animation: howitwork-simple-anim 0.2s ease-in 1.4s both;
	-webkit-animation: howitwork-simple-anim 0.2s ease-in 1.4s both;
}
section.how .how-step .screenshot img.showme{
	animation: howitwork-simple-anim 0.6s ease-in 1.5s both;
	-webkit-animation: howitwork-simple-anim 0.6s ease-in 1.5s both;
}
section.how .how-step h2.hideme{
	animation: howitwork-leave-anim 0.4s ease-in 0s both;
	-webkit-animation: howitwork-leave-anim 0.4s ease-in 0s both;
}
section.how .how-step p.hideme{
	animation: howitwork-leave-anim 0.4s ease-in 0.2s both;
	-webkit-animation: howitwork-leave-anim 0.4s ease-in 0.2s both;
}
section.how .how-step .screenshot img.hideme{
	animation: howitwork-leave-anim 0.6s ease-in 0.5s both;
	-webkit-animation: howitwork-leave-anim 0.6s ease-in 0.5s both;
}

.how-nav>a.hideme{
	animation: howitwork-leave-anim 0.2s ease-in 1.4s both;
	-webkit-animation: howitwork-leave-anim 0.2s ease-in 1.4s both;
}

/* what is it */
.what .save,
.what .organize,
.what .access {
	text-align: center;
}
.what .save > a,
.what .organize > a,
.what .access > a {
	display: block;
	width: 168px;
	height: 168px;
	margin: 36px auto 0;
	border-radius: 84px;
	opacity: 0;
}
.what .save > a {
	background:url(../img/what-save.png) center 0 no-repeat;
}
.what .organize > a {
	background:url(../img/what-organize.png) center 0 no-repeat;
}
.what .access > a {
	background:url(../img/what-access.png) center 0 no-repeat;
}
.what .save > a:hover,
.what .organize > a:hover,
.what .access > a:hover {
	background-position: center -168px;
}
.what .save.is-selected > a,
.what .organize.is-selected > a,
.what .access.is-selected > a{
	background-position: 0 -168px;
}
.what .what-text{
	margin-top: 36px;
	text-align: center;
	width: 100%;
}
.what .organize-text,
.what .access-text{
	display: none;
}

.what h2{ color: #fff; opacity: 0;}
.what p{
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	opacity: 0;
}
.what-screenshot > img{
	width: 100%;
	max-width: 1000px;
	margin-top: 12px;
	/* Image reflection for Chrome */
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255,255,255,0.2)));
}
.what-screenshot .save-img,
.what-screenshot .organize-img {
	-webkit-box-shadow: 5px -5px 12px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 5px -5px 12px rgba(0, 0, 0, 0.6);
	box-shadow: 5px -5px 12px rgba(0, 0, 0, 0.6);
}
.what-screenshot .save-img,
.what-screenshot .organize-img,
.what-screenshot .access-img{
	display: none;
}

/* what is it -  animation */
.what .save > a.showme{
	animation: whatitfor-circle-anim 0.2s ease-in 0s both;
	-webkit-animation: whatitfor-circle-anim 0.2s ease-in 0s both;
}
.what .organize > a.showme{
	animation: whatitfor-circle-anim 0.2s ease-in 0.2s both;
	-webkit-animation: whatitfor-circle-anim 0.2s ease-in 0.2s both;
}
.what .access > a.showme{
	animation: whatitfor-circle-anim 0.2s ease-in 0.4s both;
	-webkit-animation: whatitfor-circle-anim 0.2s ease-in 0.4s both;
}
.what h2.showme{
	animation: whatitfor-simple-anim 0.4s ease-in 0s both;
	-webkit-animation: whatitfor-simple-anim 0.4s ease-in 0s both;
}
.what p.showme{
	animation: whatitfor-simple-anim 0.4s ease-in 0.2s both;
	-webkit-animation: whatitfor-simple-anim 0.4s ease-in 0.2s both;
}

/* Get Started */
.done .pingismo-container{
	background: url(../img/macbook-air.png) -175% 25px no-repeat;
	height: 430px;
	position: relative;
}
.done .getstarted-img{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.done .getstarted-btn-wrapper h1,
.done .getstarted-btn-wrapper p,
.done .getstarted-btn-wrapper a{
	opacity: 0;
}

/* Get Started - animation */
.done .pingismo-container.showme{
	animation: getstarted-background-anim 0.5s ease-in 0s both;
	-webkit-animation: getstarted-background-anim 0.5s ease-in 0s both;
}
.done .getstarted-img.showme{
	animation: getstarted-img-anim 0.3s ease-in 0.5s both;
	-webkit-animation: getstarted-img-anim 0.3s ease-in 0.5s both;
}
.done .getstarted-btn-wrapper h1.showme{
	animation: getstarted-simple-anim 0.4s ease-in 0.8s both;
	-webkit-animation: getstarted-simple-anim 0.4s ease-in 0.8s both;
}

.done .getstarted-btn-wrapper p.showme{
	animation: getstarted-simple-anim 0.4s ease-in 1s both;
	-webkit-animation: getstarted-simple-anim 0.4s ease-in 1s both;
}

.done .getstarted-btn-wrapper a.showme{
	animation: getstarted-simple-anim 0.4s ease-in 1.2s both;
	-webkit-animation: getstarted-simple-anim 0.4s ease-in 1.2s both;
}
