<!DOCTYPE html>
<html ng-app="SaveApp">
    <head>
        <title>MappingBird - Remember places for later</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="/static/css/jquery-ui-themes-1.10.0/base/jquery-ui.css" media="screen">
        <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen">
        <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" media="screen">
        <link type="text/css" rel="stylesheet" href="/static/css/style.css" media="screen">
        <link type="text/css" rel="stylesheet" href="/static/css/maps.css" media="screen">
        <link type="text/css" rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.css" media="screen">
        <link type="text/css" rel="stylesheet" href="/static/css/slimbox2/slimbox2.css" media="screen">
    </head>
    <body ng-controller="savePageController">
        <section class="map-section">

            <header ng-controller="userController" class="float-top">
                <a href="/" class="logo"></a>
                <div class="navbar pingismo-navbar" ng-show="isLoggedIn">
                    <ul class="nav">
                        <li class="ver-divider"><span></span></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span ng-bind="user.email"></span>
                                <b class="caret"></b>                        </a>
                            <ul class="dropdown-menu pingismo-dropdown-menu">
                              <li><a href="/static/app.html#/"><i class="icon-globe"></i> View map</a></li>
                              <li><a href="/static/settings.html"><i class="icon-wrench"></i> Settings</a></li>
                              <li class="divider"></li>
                              <li><a href="#" ng-click="logout()"><i class="icon-off"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar pingismo-navbar pull-right" ng-show="!isLoggedIn">
                    <ul class="nav">
                        <li class="signup-button"><button class="btn btn-large btn-primary pingismo-btn" type="button" ng-click="goToSignUpPage()">Sign up</button></li>
                        <li class="ver-divider"><span></span></li>
                        <li><a href="/static/login.html">Login To Your Account</a></li>
                    </ul>
                </div>
            </header>

            <div class="save-panel" ng-controller="searchResultsController" ng-show="showSavePanel">
                <form class="form-search" ng-submit="searchPlaces()">
                    <input type="text" class="input-medium search-query" ng-model="searchQuery" search-box><i class="icon-search"></i>
                    <span class="help-block search-static">{{numResults}} places found. Pick one you want to save.</span>
                </form>

                <!-- No search keyword tip -->
                <div class="no-keyword tips-below" ng-show="noSearchQuery">
                    <h2>Try entering a name or address to get better results</h2>
                    <p>Before clicking "Remember this place", don't forget to use your mouse to select the name or address of a place in the website you're browsing.<br><br>You can also try entering the name or address of the place in the search bar above and pressing <b>Enter</b>.</p>
                </div>
                <!-- End of no search keyword tip -->

                <!-- No search results tip -->
                <div class="no-keyword tips-below" ng-show="noSearchResults">
                    <h2>There were no search results.</h2>
                    <p>We were unable to find search results for the place <b>{{searchQuery}}</b> that you selected. Try again by typing in the name of the place you're searching for above.</p>
                </div>
                <!-- End of no search keyword tip -->

                <!-- Searching for location -->
                <div class="loading-wrapper" ng-show="searchResultsLoading">
                    <img src="/static/img/loading-circle.png" class="loading-img" />
                    <p>Searching...</p>
                </div>
                <!-- End of Searching for location -->

                <!-- Search result -->
                <div class="left-panel-container" ng-show="searchResultsLoaded" m-custom-scrollbar="{scrollInertia: 0, triggerEvent: 'placesLoaded'}" left-outer-height>
                    <ul class="location-list">
                        <li ng-repeat="place in places" on-repeat-done="places_loaded" ng-class="{active: $index==activeSearchResult}"><p>{{place.name}}<span>{{place.address}}</span></p>
                            <a href="#" class="save-this-place" id="btnSaveThisPlace" ng-click="prepSaveActiveSearchResult($index)"><i class="icon-save"></i> Save this place</a>
                            <a href="#" class="show-on-map" ng-click="setActiveSavePoint($index)"><i class="icon-show"></i> Show on map</a>
                            <div class="clearfix">
                        </li>
                    </ul>
                </div>
                <!-- End of Search result -->

                <!-- Save Contents -->
                <div class="save-content" ng-class="{retracted: !searchResultSelected}" m-custom-scrollbar-parent>
                    <a class="back" href="#" ng-click="cancelSaveActiveSearchResult()" ng-show="numResults > 1"><img src="/static/img/icon-back.png" /></a>
                    <form class="form-save-content" ng-submit="savePoint($event)">
                        <div class="primary-content" m-custom-scrollbar="{scrollInertia: 0, triggerEvent: 'placeImagesLoaded'}">
                            <input type="text" ng-model="pageData.title" class="content-title" />
                            <textarea rows="8" ng-model="pageData.text"></textarea>
                            <div class="ref-context-img" thumb-alignment="{displayArray: 'pageImages', selectArray: 'selectedPageImages', deselectArray: 'deselectedPageImages'}"></div>
                        </div>
                        <div class="collection-wrapper">
                            <div ng-class="{'input-append' : true, 'control-group' : true, error: noCollectionError}" ng-show="collections.length == 0">
                                <input type="text" ng-model="newCollectionName" ng-class="{ 'fresh' : true, error: noCollectionError}" placeholder="{{ noCollectionError && 'Enter name of map to save this point to' || 'Create a map to save this place to, ex: Paris trip'}}" class="fresh" />
                                <button class="btn btn-default" type="button" ng-click="saveNewCollection($event)">Create</button>
                            </div>
                            <div class="btn-group pingismo-btn-group" ng-show="collections.length > 0">
                                <a class="btn exist collections-selection" href="#" ng-click="clickShowSelectCollection()" ng-show="!showSelectCollection">{{saveCollectionName}} <span class="caret"></span></a>
                                <ul class="collections-menu upward-menu" ng-show="showSelectCollection">
                                    <li ng-repeat="collection in collections"><a href="#" ng-click="selectCollection(collection.id, $event)">{{collection.name}}</a></li>
                                    <li ng-class="{'input-append' : true, 'control-group' : true, error: noCollectionError}">
                                        <input type="text" class="span2" ng-model="newCollectionName" id="appendedInputButton" placeholder="{{ noCollectionError && 'Select from above or enter a new name' || 'Create a new map'}}" />
                                        <button class="btn" type="button" ng-click="saveNewCollection($event)">Create</button>
                                    </li>
                                </ul>
                            </div>
                            <ul class="types">
                                <li ng-class="{active: activeSavePoint.type == 'scenicspot'}"><a href="#" class="types-scenicspot" ng-click="setPointType($event, 'scenicspot')"></a></li>
                                <li ng-class="{active: activeSavePoint.type == 'hotel'}"><a href="#" class="types-hotel" ng-click="setPointType($event, 'hotel')"></a></li>
                                <li ng-class="{active: activeSavePoint.type == 'mall'}"><a href="#" class="types-mall" ng-click="setPointType($event, 'mall')"></a></li>
                                <li ng-class="{active: activeSavePoint.type == 'restaurant'}"><a href="#" class="types-restaurant" ng-click="setPointType($event, 'restaurant')"></a></li>
                                <li ng-class="{active: activeSavePoint.type == 'bar'}"><a href="#" class="types-bar" ng-click="setPointType($event, 'bar')"></a></li>
                                <li ng-class="{active: activeSavePoint.type == 'misc'}"><a href="#" class="types-misc" ng-click="setPointType($event, 'misc')"></a></li>
                                <div class=" clearfix"></div>
                            </ul>
                            <hr/>
                            <button class="btn btn-large btn-primary pingismo-btn" type="submit" id="save-to-map">Save to Map</button>
                        </div>
                    </form>
                </div>
                <!-- End of save contents -->
            </div>

            <!-- Collections -->
            <div ng-controller="collectionsController" class="collection-list-wrapper" ng-show="showCollectionList">
                <div class="collection-header">
                    <a href="#" class="collection-name" ng-class="{ 'collection-name' : 1, 'active' : collectionsListVisible }" ng-click="showCollections()">
                        <i class="icon-expand-collapse"></i>
                        {{activeCollectionName}}
                    </a>
                    <span>{{activeCollectionPointLength}} places saved</span>
                    <a href="#" class="list-view pull-right">List</a>
                    <a href="#" class="map-view pull-right active">Map</a>
                    <div class="clearfix"></div>
                </div>
                <ul class="nav nav-stacked">
                    <li ng-repeat="coll in collections" ng-class="{active: coll.id == activeCollectionId}"><a href="#" ng-class="{collection: true, edit: editMode}" ng-click="clickCollection(coll.id, coll.name)">{{coll.name}} ({{coll.points.length || 0}})</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="btn-default pingismo-btn" ng-click="toggleEditMode()" id="edit-list-btn">{{ editMode && 'Done' || 'Edit'}}</a></li>
                </ul>
            </div>
            <!-- End of collections -->

            <!-- Content of Pin -->
            <div ng-controller="pointDetailController">
                <div class="pin-content-wrapper" ng-show="showPointDetailPanel" ng-class="{ editable: pointEditMode}">
                    <a href="#" ng-click="closePoint()" class="pingismo-proceed"><img src="/static/img/icon-proceed.png" /></a>
                    <div class="pin-content">
                        <div class="pin-details pull-left">
                            <h4 ng-click="togglePointEditMode()" ng-bind="activeViewPoint.title" class="editable"></h4>
                            <input type="text" ng-model="activeViewPoint.title" class="content-title" />
                            <a ng-href="{{activeViewPoint.url}}" class="ref-url ellipsis" title="{{activeViewPoint.url}}" new-window>{{activeViewPoint.url}}</a>
                            <p class="ref-context editable" ng-click="togglePointEditMode()" ng-bind="activeViewPoint.description"></p>
                            <textarea rows="8" ng-model="activeViewPoint.description"></textarea>
                            <div height-to-bottom m-custom-scrollbar="{scrollInertia: 0, triggerEvent: 'placeImagesLoaded'}">
                                <div class="ref-context-img" thumb-alignment="{displayArray: 'pointImages', selectArray: 'selectedPointImages', deselectArray: 'deselectedPointImages', enableLightbox: true, editMode: pointEditMode}"></div>
                            </div>
                        </div>
                        <div class="pin-cover">
                            <div class="cover-img">
                                <img ng-src="{{activeViewPoint.images[0].url}}" />
                                <p>Drag picture here to change cover photo</p>
                            </div>
                            <ul>
                                <li class="collection" ng-bind="activeCollectionName"></li>
                                <li class="btn-group pingismo-btn-group">
                                    <a class="btn exist" href="#" ng-click="showSelectCollection = true" ng-show="!showSelectCollection">{{activeCollectionName}} <span class="caret"></span></a>
                                    <ul class="collections-menu thin-menu" ng-show="showSelectCollection" scrollbar-height-to-bottom>
                                        <li ng-repeat="collection in collections"><a href="#" ng-click="selectPointCollection(collection.id, $event)" title="{{collection.name}}" ng-bind="collection.name"></a></li>
                                        <li class="input-append">
                                            <input type="text" class="span2" id="appendedInputButton" ng-model="newCollectionName" placeholder="Create a new collection" />
                                            <button class="btn" type="button" ng-click="saveNewCollection($event)">Create</button>
                                        </li>
                                    </ul>
                                </li>
                                <li>Added: {{activeViewPoint.date_created}}</li>
                                <li>
                                    <ul class="types">
                                        <li ng-class="{active : activeViewPoint.type == 'scenicspot'}"><a href="#" class="types-scenicspot" ng-click="setPointType($event, 'scenicspot')"></a></li>
                                        <li ng-class="{active : activeViewPoint.type == 'hotel'}"><a href="#" class="types-hotel" ng-click="setPointType($event, 'hotel')"></a></li>
                                        <li ng-class="{active : activeViewPoint.type == 'mall'}"><a href="#" class="types-mall" ng-click="setPointType($event, 'mall')"></a></li>
                                        <li ng-class="{active : activeViewPoint.type == 'restaurant'}"><a href="#" class="types-restaurant" ng-click="setPointType($event, 'restaurant')"></a></li>
                                        <li ng-class="{active : activeViewPoint.type == 'bar'}"><a href="#" class="types-bar" ng-click="setPointType($event, 'bar')"></a></li>
                                        <li ng-class="{active : activeViewPoint.type == 'misc'}"><a href="#" class="types-misc" ng-click="setPointType($event, 'misc')"></a></li>
                                        <div class=" clearfix"></div>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="pin-content-footer fixed">
                        <hr />
                        <a href="#" ng-click="togglePointEditMode()" class="btn-default pingismo-btn" id="edit-pin-content-btn">Edit</a>
                        <a href="#" ng-click="savePointChanges()" class="btn-highlight pingismo-btn" id="done-edit-pin-content-btn">Done</a>
                        <a href="#" ng-click="selectPointForDelete()" class="btn-default pingismo-btn pull-right" id="del-pin-content-btn">Delete This Place</a>
                    </div>
                </div>

                <!-- Delete a Pin -->
                <div class="delete-pin-wrapper" ng-class="{visible: showDeletePoint}">
                    <h4>{{activeViewPoint.title}}</h4>
                    Do you really want to delete this place permanently? Once you delete it, it will be removed from your map forever.
                    <div class="pin-content-footer">
                        <hr />
                        <a href="#" class="btn-risk pingismo-btn" id="delete-pin-btn" ng-click="deletePoint()">Yes, Delete It.</a>
                        <a href="#" class="btn-default pingismo-btn" id="cancel-delete-pin-btn" ng-click="unselectPointForDelete()">Cancel</a>
                    </div>
                    <p ng-show="pointDeletError">There was an error deleting this point.</p>
                </div>
                <!-- End of delete a Pin -->
            </div>

            <!-- End of content of pins -->

            <!-- Alert -->
            <div class="map-alert" id="place-saved-alert" p-alert ng-class="{ visible: alertActive }">
                <div class="alert alert-info pingismo-alert">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                        <i class="icon-check" ></i> <span ng-bind-html="message"></span> <a href="" class="alert-action">{{actionMessage}}</a>
                </div>
            </div>
            <!-- End of alert -->

            <!-- Google maps -->
            <div id="map" ng-class="{retracted: mapRetracted, full: fullMap, half: halfMap, 'semi-retracted': semiRetractedMap}" ng-show="mapVisible" ng-controller="mapController"></div>
            <!-- End of Google maps -->

            <div ui-view></div>

            <footer class="narrow">
                    <div class="logo-copyright">
                        <p>Copyright &copy; 2014 MappingBird LLC. All referred posts &copy; their respective owners.</p>
                    </div>
                    <div class="lang-contact pull-right">
                        <p>
                            <a href="#" class="footer-contact">Contact Us</a>
                            <a href="#" class="footer-follow">Follow Us</a>
                        </p>
                    </div>
            </footer>
        </section>

        <script>
            var PINGISMO = PINGISMO || {};

            PINGISMO.baseUrl = "/";

        </script>
        <script src="/static/js/mod.noconsole.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>
        <script src="/static/js/vendor/jquery/jquery-1.10.2.min.js"></script>
        <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/static/js/save-app/utilities.js"></script>
        <script src="/static/js/vendor/angular/angular.min.js"></script>
        <script src="/static/js/vendor/angular-bootstrap/ui-bootstrap-tpls-0.4.0.min.js"></script>
        <script src="/static/js/vendor/angular-google-maps/angular-google-maps.js"></script>
        <script src="/static/js/vendor/angular-ui-router/angular-ui-router-0.2.0.min.js"></script>
        <script src="/static/js/vendor/angular/angular-sanitize.min.js"></script>
        <script src="/static/js/vendor/angular/angular-resource.min.js"></script>
        <script src="/static/js/vendor/angular/angular-cookies.min.js"></script>
        <script src="/static/js/vendor/momentjs/moment.min.js"></script>
        <script src="/static/js/vendor/slimbox2/slimbox2.js"></script>
        <script src="/static/js/mod.google-maps.js"></script>
        <script src="/static/js/mod.bucketlist.overlay.js"></script>
        <script src="/static/js/save-app/services/services.js"></script>
        <script src="/static/js/save-app/directives/directives.js"></script>
        <script src="/static/js/save-app/app.js"></script>
        <script>
            // Include the UserVoice JavaScript SDK (only needed once on a page)
            UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/3vZRrvRQzyD9jdYG1Lb3RQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

            //
            // UserVoice Javascript SDK developer documentation:
            // https://www.uservoice.com/o/javascript-sdk
            //

            // Set colors
            UserVoice.push(['set', {
              accent_color: '#448dd6',
              trigger_color: 'white',
              trigger_background_color: '#448dd6'
            }]);

            // Identify the user and pass traits
            // To enable, replace sample data with actual user traits and uncomment the line
            UserVoice.push(['identify', {
              //email:      'john.doe@example.com', // User’s email address
              //name:       'John Doe', // User’s real name
              //created_at: 1364406966, // Unix timestamp for the date the user signed up
              //id:         123, // Optional: Unique id of the user (if set, this should not change)
              //type:       'Owner', // Optional: segment your users by type
              //account: {
              //  id:           123, // Optional: associate multiple users with a single account
              //  name:         'Acme, Co.', // Account name
              //  created_at:   1364406966, // Unix timestamp for the date the account was created
              //  monthly_rate: 9.99, // Decimal; monthly rate of the account
              //  ltv:          1495.00, // Decimal; lifetime value of the account
              //  plan:         'Enhanced' // Plan name for the account
              //}
            }]);

            // Add default trigger to the bottom-right corner of the window:
            UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

            // Or, use your own custom trigger:
            //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

            // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
            UserVoice.push(['autoprompt', {}]);
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-48784866-1', 'mappingbird.com');
            ga('send', 'pageview');

        </script>
    </body>
</html>