<!DOCTYPE html>
<html ng-app="SettingsApp">
  <head>
    <title>MappingBird - Remember places for later</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/prototype_assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/prototype_assets/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/static/prototype_assets/css/style.css" rel="stylesheet" media="screen">
    <link href="/static/css/account.css" rel="stylesheet" media="screen">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>

  <body ng-controller="mainController">
    <section class="main">
        <header>
            <a href="/" class="logo"></a>
            <div class="navbar pingismo-navbar" ng-show="isLoggedIn">
                <ul class="nav">
                    <li class="ver-divider"><span></span></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span ng-bind="email"></span>
                            <b class="caret"></b>                        </a>
                        <ul class="dropdown-menu pingismo-dropdown-menu">
                          <li><a href="/static/app.html#/"><i class="icon-globe"></i> View map</a></li>
                          <li><a href="/static/settings.html"><i class="icon-wrench"></i> Settings</a></li>
                          <li class="divider"></li>
                          <li><a href="#" ng-click="logout()"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <div class="container">
            <div class="row-fluid">
                <div class="span2"></div>
                <div class="span8">
                    <p class="title">{{email}}</p>
                    <h1>Settings</h1>
                    <hr>
                    <p class="title">Change Password</p>
                    <form ng-submit="checkInput()">
                        <div class="control-group" ng-class="{ 'control-group' : 1, 'error' : errorOldPasswordIncorrect }">
                            <input type="password" placeholder="Old Password" name="old_password" ng-model="old_password" required />
                        </div>
                        <div class="error-message control-group" ng-class="{ 'error-message' : 1, 'control-group' : 1, 'error' : errorOldPasswordIncorrect }" ng-show="errorOldPasswordIncorrect">
                            <p class="help-inline">Password is incorrect.</p>
                        </div>

                        <div class="control-group" ng-class="{ 'control-group' : 1, 'error' : errorPasswordTooShort || errorOldPasswordNewPasswordSame }">
                            <input type="password" placeholder="New Password" name="new_password" ng-model="new_password" required />
                        </div>
                        <div class="error-message control-group" ng-class="{ 'error-message' : 1, 'control-group' : 1, 'error' : errorOldPasswordNewPasswordSame }" ng-show="errorOldPasswordNewPasswordSame">
                            <p class="help-inline">New password cannot be the same as the old password.</p>
                        </div>
                        <div class="error-message control-group" ng-class="{ 'error-message' : 1, 'control-group' : 1, 'error' : errorPasswordTooShort }" ng-show="errorPasswordTooShort">
                            <p class="help-inline">New password is too short.</p>
                        </div>

                        <div class="control-group" ng-class="{ 'control-group' : 1, 'error' : errorNewPasswordsNoMatch }">
                            <input type="password" placeholder="Confirm Password" name="confirm_password" ng-model="confirm_password" required />
                        </div>
                        <div class="error-message control-group" ng-class="{ 'error-message' : 1, 'control-group' : 1, 'error' : errorNewPasswordsNoMatch }" ng-show="errorNewPasswordsNoMatch">
                            <p class="help-inline">New passwords don't match.</p>
                        </div>
                        <div class="action-button">
                            <input class="btn btn-primary pingismo-btn" type="submit" value="Update Password">
                        </div>
                    </form>

                    <div ng-show="false">
                        <hr>
                        <p class="title">Delete Account</p>
                        <p class="error">Once you delete your account, all of your saved points will be deleted. There is no way to recover your deleted data. Are you sure you want to do this?</p>
                        <div class="action-button">
                            <a href="" ng-click="" class="btn btn-primary pingismo-btn">Delete Account</a>
                        </div>
                    </div>
                </div>
                <div class="span2"></div>
            </div>
        </div>
        <footer>
            <div class="logo-copyright">
                <p class="slogan"><img src="/static/img/logo-footer.png" /> Remember places for later.</p>
                <p>Copyright &copy; 2014 MappingBird LLC. All referred posts &copy; their respective owners.</p>
            </div>
            <div class="lang-contact pull-right">
                <ul class="nav nav-pills">
                     <li><a href="#">繁體中文</a></li>
                     <li class="divider-vertical pingismo-divider-vertical"></li>
                     <li class="active"><a href="#">English</a></li>
                </ul>
                <p>
                    <a href="#" class="footer-contact">Contact Us</a>
                    <a href="#" class="footer-follow">Follow Us</a>
                </p>
            </div>
        </footer>
    </section>
    <script src="/static/js/mod.noconsole.js"></script>
    <script src="/static/js/vendor/jquery/jquery-1.10.2.min.js"></script>
    <script src="/static/js/save-app/utilities.js"></script>
    <script src="/static/js/vendor/angular/angular.min.js"></script>
    <script src="/static/js/vendor/angular-bootstrap/ui-bootstrap-tpls-0.4.0.min.js"></script>
    <script src="/static/js/vendor/angular/angular-sanitize.min.js"></script>
    <script src="/static/js/vendor/angular/angular-resource.min.js"></script>
    <script src="/static/js/vendor/angular/angular-cookies.min.js"></script>
    <script src="/static/js/settings-app/services/services.js"></script>
    <script src="/static/js/settings-app/app.js"></script>
    <script>
            // Include the UserVoice JavaScript SDK (only needed once on a page)
            UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/3vZRrvRQzyD9jdYG1Lb3RQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

            //
            // UserVoice Javascript SDK developer documentation:
            // https://www.uservoice.com/o/javascript-sdk
            //

            // Set colors
            UserVoice.push(['set', {
              accent_color: '#448dd6',
              trigger_color: 'white',
              trigger_background_color: '#448dd6'
            }]);

            // Identify the user and pass traits
            // To enable, replace sample data with actual user traits and uncomment the line
            UserVoice.push(['identify', {
              //email:      'john.doe@example.com', // User’s email address
              //name:       'John Doe', // User’s real name
              //created_at: 1364406966, // Unix timestamp for the date the user signed up
              //id:         123, // Optional: Unique id of the user (if set, this should not change)
              //type:       'Owner', // Optional: segment your users by type
              //account: {
              //  id:           123, // Optional: associate multiple users with a single account
              //  name:         'Acme, Co.', // Account name
              //  created_at:   1364406966, // Unix timestamp for the date the account was created
              //  monthly_rate: 9.99, // Decimal; monthly rate of the account
              //  ltv:          1495.00, // Decimal; lifetime value of the account
              //  plan:         'Enhanced' // Plan name for the account
              //}
            }]);

            // Add default trigger to the bottom-right corner of the window:
            UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

            // Or, use your own custom trigger:
            //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

            // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
            UserVoice.push(['autoprompt', {}]);
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-48784866-1', 'mappingbird.com');
            ga('send', 'pageview');

        </script>
  </body>
</html>
