<!DOCTYPE html>
<html ng-app="SignupApp">
  <head>
    <title>MappingBird - Remember places for later</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/prototype_assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/prototype_assets/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/static/prototype_assets/css/style.css" rel="stylesheet" media="screen">
    <link href="/static/css/account.css" rel="stylesheet" media="screen">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>

  <body ng-controller="mainController" class="static">
  	<section class="main">
    	<header>
            <a href="/" class="logo"></a>
            <div class="navbar pingismo-navbar" id="account-menu"></div>
        </header>
        <div class="container" ng-hide="accountCreated">
        	<div class="row-fluid">
            	<div class="span2"></div>
                <div class="span8">
                    <h1>MappingBird</h1>
                    <hr>
                    <p class="title">Sign up</p>
                    <form ng-submit="checkInput()">
                        <div class="control-group">
                        	<input type="text" placeholder="Email address" name="email" ng-model="email" required autofocus />
                        </div>
                        <div class="error-message control-group" ng-show="errorEmailAlreadyRegistered">
                        	<p class="help-inline">The email has been registered.</p>
                        </div>
                        <div class="control-group" ng-class="{ 'control-group' : 1, 'error' : errorPasswordTooShort }">
                        	<input type="password" placeholder="Password" name="password" ng-model="password" required />
                        </div>
                        <div class="error-message control-group" ng-class="{ 'error-message' : 1, 'control-group' : 1, 'error' : errorPasswordTooShort }" ng-show="errorPasswordTooShort">
                        	<p class="help-inline">Password is too short.</p>
                        </div>
                        <div>
                        	By creating an account, I accept MappingBird's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
                        </div>
                        <div class="action-button">
                        	<input class="btn btn-giant btn-primary pingismo-btn" type="submit" value="Create Your Account">
                        </div>
                    </form>
            	</div>
                <div class="span2"></div>
            </div>
        </div>
        <div id="container-account-created" class="container" ng-show="accountCreated">
            <div class="row-fluid">
                <div class="span2"></div>
                <div class="span8">
                    <h1>MappingBird</h1>
                    <hr>
                    <p class="title">
                        <span><img src="/static/img/smile.png" /></span>
                        Account created!
                    </p>
                    <form>
                    <div>
                        <p class="fresh">Congratulations! You are now able to create your own map and save places you love. Click "<strong>Get Started</strong>" to learn how it works.</p>
                        <p class="saved">Congratulations! Your account has been created. Click "<strong>View Map</strong>" to see your own map and the places you just saved.</p>
                    </div>
                    <div class="action-button">
                        <a class="btn-highlight pingismo-btn" href="/static/index.html#/how-it-works">Get Started</a>
                    </div>
                    </form>
                </div>
                <div class="span2"></div>
            </div>
        </div>
        <footer>
            <div class="logo-copyright">
                <p class="slogan"><img src="/static/img/logo-footer.png" /> Remember places for later.</p>
                <p>Copyright &copy; 2014 MappingBird LLC. All referred posts &copy; their respective owners.</p>
            </div>
            <div class="lang-contact pull-right">
                <ul class="nav nav-pills">
                     <li><a href="#">繁體中文</a></li>
                     <li class="divider-vertical pingismo-divider-vertical"></li>
                     <li class="active"><a href="#">English</a></li>
                </ul>
                <p>
                    <a href="#" class="footer-contact">Contact Us</a>
                    <a href="#" class="footer-follow">Follow Us</a>
                </p>
            </div>
        </footer>
    </section>
    <script src="/static/js/mappingbird.js"></script>
    <script src="/static/js/helpers/mod.noconsole.js"></script>
    <script src="/static/js/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script src="/static/js/helpers/utilities.js"></script>
    <script src="/static/js/vendor/angular/angular.min.js"></script>
    <script src="/static/js/vendor/angular-bootstrap/ui-bootstrap-tpls-0.4.0.min.js"></script>
    <script src="/static/js/vendor/angular/angular-sanitize.min.js"></script>
    <script src="/static/js/vendor/angular/angular-resource.min.js"></script>
    <script src="/static/js/vendor/angular/angular-cookies.min.js"></script>
    <script src="/static/js/initializations/initialization.js"></script>
    <script src="/static/js/signup-app.js"></script>
    <script src="/static/js/services/service.presets.js"></script>
    <script src="/static/js/services/service.user.js"></script>
    <script src="/static/js/services/service.state-service.js"></script>
    <script src="/static/js/services/service.user-resource.js"></script>
    <script src="/static/js/services/service.current-user.js"></script>
    <script src="/static/js/services/service.broadcast-service.js"></script>
    <script src="/static/js/services/service.analytics.js"></script>
    </body>
</html>