@charset "utf-8";
/* CSS Document */
/* Animation --------------------------------------------------------------------------------- */
@keyframes search-result-anim{
	0%{
		top: 45px;
		left: 0;
		width: 100%;
		
		/* Firefox */
		height: -moz-calc(100% - 75px);
		/* Webkit */
		height: -webkit-calc(100% - 75px);
		/* Opera */
		height: -o-calc(100% - 75px);
		/* Standard */
		height: calc(100% - 75px);
	}
	30%{
		top: 95px;
		left: 0;
		width: 100%;
		
		/* Firefox */
		height: -moz-calc(100% - 125px);
		/* Webkit */
		height: -webkit-calc(100% - 125px);
		/* Opera */
		height: -o-calc(100% - 125px);
		/* Standard */
		height: calc(100% - 125px);
	}
	100%{
		top: 95px;
		left: 300px;
		
		/* Firefox */
		width: -moz-calc(100% - 300px);
		/* Webkit */
		width: -webkit-calc(100% - 300px);
		/* Opera */
		width: -o-calc(100% - 300px);
		/* Standard */
		width: calc(100% - 300px);
		
		/* Firefox */
		height: -moz-calc(100% - 125px);
		/* Webkit */
		height: -webkit-calc(100% - 125px);
		/* Opera */
		height: -o-calc(100% - 125px);
		/* Standard */
		height: calc(100% - 125px);
	}
}
@-webkit-keyframes search-result-anim{
	0%{
		top: 45px;
		left: 0;
		width: 100%;
		
		/* Firefox */
		height: -moz-calc(100% - 75px);
		/* Webkit */
		height: -webkit-calc(100% - 75px);
		/* Opera */
		height: -o-calc(100% - 75px);
		/* Standard */
		height: calc(100% - 75px);
	}
	30%{
		top: 95px;
		left: 0;
		width: 100%;
		
		/* Firefox */
		height: -moz-calc(100% - 125px);
		/* Webkit */
		height: -webkit-calc(100% - 125px);
		/* Opera */
		height: -o-calc(100% - 125px);
		/* Standard */
		height: calc(100% - 125px);
	}
	100%{
		top: 95px;
		left: 300px;
		
		/* Firefox */
		width: -moz-calc(100% - 300px);
		/* Webkit */
		width: -webkit-calc(100% - 300px);
		/* Opera */
		width: -o-calc(100% - 300px);
		/* Standard */
		width: calc(100% - 300px);
		
		/* Firefox */
		height: -moz-calc(100% - 125px);
		/* Webkit */
		height: -webkit-calc(100% - 125px);
		/* Opera */
		height: -o-calc(100% - 125px);
		/* Standard */
		height: calc(100% - 125px);
	}
}
/* Layout ------------------------------------------------------------------------------------ */
section.search-section{
	background-color: #2c2c2c;
}
.search-tools-wrapper{
	padding: 55px 25px 0;
}

/* Module ------------------------------------------------------------------------------------ */
/* Search Tools */
.search-tools-header{
	color: #fff;
}
.search-tools-header > p{
	float: left;
	font-size: 20px;
	color: #fff;
	background: url("../img/search_result_icon.png") 0 0 no-repeat;
	padding-left: 25px;
	margin-top: 4px;
}
.search-tools-header > p > span{
	color: #707070;
	font-size: 12px;
	margin-left: 5px;
}
.search-tools{
	color: #fff;
	font-size: 15px;
}

/* Search Group */
.tools-group{
	border-top: solid 1px #373737;
	border-bottom: solid 1px #181818;
	padding: 10px 15px 20px 0;
	width: 255px;
}
.tools-group:first-child{
	border-top: none;
}
.tools-group:last-child{
	border-bottom: none;
}

/* Bi-slider */
.bi-drag{
	position: relative;
	font-size: 12px;
}
.bi-drag .drag-wrapper{
	position: relative;
	height: 14px;
}
.bi-drag .drag-wrapper hr{
	position: absolute;
	height: 3px;
	top: 50%;
	margin-top: -2px;
	background-color: #4e4e4e;
	width: 100%;
	border: none;
}
.bi-drag .drag-wrapper img{
	position: absolute;
	left: 50%;
	margin-left: -5px;
}

/* Sorting */
.sorting > a{
	display: block;
	float: left;
	width: 120px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	background: #707070;
	color: #2c2c2c;
	font-size: 12px;
	line-height: 30px;
	margin: 0 1px 0 0;
}
.sorting > a:hover,
.sorting > a.active{
	background: #01a9e7;
	color: #fff;
}
.sorting > a > i{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 3px 0 0;
	background-position: 0 -16px;
}
.sorting > a:hover > i,
.sorting > a.active > i{
	background-position: 0 0;
}

/* Search Result List */
#search-result-list{
	position: absolute;
	top: 45px;
	box-shadow: -8px 0 15px rgba(0,0,0,0.6), 8px 0 15px rgba(0,0,0,0.6);
	background: url(../img/white_wall.png) 0 0;
	width: 100%;
	
	/* Firefox */
	height: -moz-calc(100% - 75px);
	/* Webkit */
	height: -webkit-calc(100% - 75px);
	/* Opera */
	height: -o-calc(100% - 75px);
	/* Standard */
	height: calc(100% - 75px);
}
#search-result-list.showme{
	animation: search-result-anim 1s both;
	-webkit-animation: search-result-anim 1s both;
}